@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  height: 80px;
  margin-bottom: 20px; }
  header * {
    font-size: 0;
    font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei"; }
  header a {
    font-size: 24px;
    color: #fff;
    text-decoration: none; }
  header #navctrl {
    display: none; }
    header #navctrl:checked ~ .phone_nav .hb .line {
      transform: rotate(360deg);
      opacity: 0;
      transition: 0.3s; }
    header #navctrl:checked ~ .phone_nav .hb:before {
      transform: translateY(13.5px) rotate(225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ .phone_nav .hb:after {
      transform: translateY(-13px) rotate(-225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ nav {
      transform: translate(-350px, 1000px) rotate(0deg);
      top: -1000px;
      left: 350px;
      transition: transform 1s; }
  header .phone_nav {
    padding: 0 40px 0 10px;
    height: 75px;
    background: url(../images/nav_background_768.png) repeat-x;
    position: relative; }
    header .phone_nav:after {
      content: '';
      width: 0;
      height: 120%;
      display: inline-block;
      vertical-align: middle; }
    header .phone_nav div {
      width: 33.33333333%;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
      header .phone_nav div.nav_left {
        text-align: left; }
      header .phone_nav div.nav_right {
        text-align: right; }
    header .phone_nav .hb {
      margin: auto;
      width: 70px;
      height: 50px;
      cursor: pointer;
      opacity: .8;
      transition: .5s;
      position: absolute;
      top: 28%;
      z-index: 1001; }
      header .phone_nav .hb .line, header .phone_nav .hb:before, header .phone_nav .hb:after {
        content: '';
        margin: auto;
        width: 60%;
        height: 3px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 21%;
        left: 0;
        transition: 0.3s; }
      header .phone_nav .hb:before {
        bottom: auto; }
      header .phone_nav .hb:after {
        top: auto; }
    header .phone_nav .logo img {
      height: 90px; }
    header .phone_nav .seach_button {
      padding: 23px 9px 18px;
      color: #76391b;
      border-radius: 50%;
      background-color: #fcf2ca;
      box-shadow: 1px 3px 1px #ad6631;
      cursor: pointer; }
      header .phone_nav .seach_button img {
        margin-top: -6px;
        vertical-align: middle; }
  header nav {
    transition: 1s;
    position: absolute;
    transform: translate(0, 0) rotate(-90deg);
    top: -1000px;
    left: 350px;
    transition: transform 1s;
    z-index: 1; }
    header nav:before {
      content: '';
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      background-color: #425075;
      transform-origin: left top;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0; }
    header nav ul {
      position: relative;
      left: 50%; }
      header nav ul li {
        margin-bottom: 20px; }
      header nav ul .logo {
        margin-bottom: 30px; }
        header nav ul .logo img {
          margin-top: -15px;
          height: 140px; }
      header nav ul .member {
        margin-bottom: 35px; }
        header nav ul .member .before_login {
          display: none; }
          header nav ul .member .before_login a {
            margin-right: 20px; }
        header nav ul .member .after_login {
          display: inline-block; }
          header nav ul .member .after_login div {
            display: inline-block;
            vertical-align: middle; }
            header nav ul .member .after_login div .member_Pic {
              width: 35px;
              height: 35px;
              border-radius: 50%; }
            header nav ul .member .after_login div img {
              cursor: pointer; }
            header nav ul .member .after_login div span {
              padding: 5px 10px;
              font-size: 12px;
              color: #fff;
              display: inline-block; }
              header nav ul .member .after_login div span .achievement_Pic {
                margin: -5px 8px 0 2px;
                vertical-align: middle; }
  header #white_Point_control {
    display: none; }
    header #white_Point_control:checked ~ .white_Point {
      width: 70vmin;
      height: 70vmin;
      transform: translate(-50%, -50%);
      transition: 1s;
      top: 50%;
      left: 50%; }
      header #white_Point_control:checked ~ .white_Point li {
        display: inline-block; }
  header .white_Point {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #425075;
    position: fixed;
    transition: 1s;
    top: 80px;
    right: 0%;
    z-index: 101; }
    header .white_Point.floaty.active {
      z-index: 10001; }
    header .white_Point.floaty:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-top: 0; }
    header .white_Point.floaty.active:before {
      content: "";
      display: block;
      top: -500%;
      left: -500%;
      width: 1100%;
      height: 1100%; }
    header .white_Point ul {
      text-align: center; }
      header .white_Point ul li {
        margin: 0 auto;
        width: 50%;
        height: 23.33333333vmin;
        display: none; }
        header .white_Point ul li:after {
          content: '';
          width: 0;
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        header .white_Point ul li a {
          font-size: 16px;
          vertical-align: middle;
          display: inline-block; }
          header .white_Point ul li a img {
            margin-bottom: 5px;
            width: 40%; }
        header .white_Point ul li:nth-of-type(1) {
          width: 100%; }
        header .white_Point ul li:nth-of-type(4), header .white_Point ul li:nth-of-type(5) {
          max-width: 120px; }
  header #view1 {
    display: none; }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../images/nav_background.png);
    font-size: 0;
    text-align: center; }
    header #navctrl:checked ~ nav {
      transform: translate(0, 0) rotate(0deg);
      top: 0px;
      left: 0px;
      transition: 0s; }
    header .phone_nav {
      padding: 0;
      width: 14.28571428%;
      height: 100px;
      background: none;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      header .phone_nav div.nav_right {
        width: 100%;
        text-align: center; }
        header .phone_nav div.nav_right .seach_button {
          padding: 10px 40px 10px 10px;
          border-radius: 20px;
          font-size: 16px; }
      header .phone_nav .nav_left, header .phone_nav .logo {
        font-size: 0;
        margin: 0;
        padding: 0;
        display: none; }
        header .phone_nav .nav_left img, header .phone_nav .logo img {
          height: 120px; }
    header nav {
      width: 71.42857142%;
      position: relative;
      display: inline-block;
      transform: translate(0, 0) rotate(0deg);
      transition: 0s;
      top: 0px;
      left: 0px;
      vertical-align: top; }
      header nav:before {
        display: none; }
      header nav ul {
        width: 100%;
        height: 100px;
        display: inline-block;
        position: static; }
        header nav ul li {
          width: 20%;
          height: 100px;
          display: inline-block;
          vertical-align: top; }
          header nav ul li:after {
            content: '';
            width: 0;
            height: 120%;
            display: inline-block;
            vertical-align: middle; }
          header nav ul li.table_hidden {
            display: none; }
          header nav ul li.logo {
            transform: translateX(200%); }
          header nav ul li.member {
            transform: translateX(300%); }
          header nav ul li.meals {
            transform: translateX(100%); }
          header nav ul li.initiate {
            transform: translateX(-300%); }
          header nav ul li.participate {
            transform: translateX(-300%); }
    header #white_Point_control {
      display: none; }
      header #white_Point_control:checked ~ .white_Point {
        width: 14.28571428%;
        height: 100px;
        transform: translate(0, 0);
        transition: 0s;
        position: static; }
        header #white_Point_control:checked ~ .white_Point li.table_hidden {
          display: none; }
    header .white_Point {
      margin: auto;
      width: 14.28571428%;
      height: 100px;
      border-radius: 0;
      background: none;
      vertical-align: top;
      display: inline-block;
      transform: translate(0, 0);
      transition: 0s;
      position: static; }
      header .white_Point:checked ~ .white_Point {
        width: 50px;
        height: 50px;
        transform: translate(0, 0);
        position: static; }
      header .white_Point ul {
        height: 100%; }
        header .white_Point ul:after {
          content: '';
          width: 0;
          height: 120%;
          display: inline-block;
          vertical-align: middle; }
        header .white_Point ul li {
          width: auto;
          height: auto;
          display: inline-block; }
          header .white_Point ul li.table_hidden {
            display: none; }
          header .white_Point ul li:nth-of-type(1) {
            width: auto; }
          header .white_Point ul li a {
            margin: 0 8px;
            padding: 6px;
            font-size: 0;
            color: #76391b;
            border-radius: 20px;
            background-color: #fcf2ca;
            box-shadow: 1px 3px 1px #ad6631;
            display: inline-block;
            position: relative; }
            header .white_Point ul li a img {
              width: 25px;
              height: 25px; }
            header .white_Point ul li a span {
              padding: 3px 7px 5px;
              font-size: 8px;
              color: #fff;
              background-color: #AD6631;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              right: -4px; }
    header #view1, header #view2, header #view3, header #view4, header #view5, header #view6, header #view7 {
      width: 100%;
      height: 100px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      header #view1 .slice, header #view2 .slice, header #view3 .slice, header #view4 .slice, header #view5 .slice, header #view6 .slice, header #view7 .slice {
        width: 100%;
        height: 10px;
        transform-style: preserve-3d;
        transform-origin: center top;
        transition: 150ms ease-in-out;
        background-image: url(../images/nav_background.png);
        perspective: 1000px;
        position: relative;
        top: 100%; }
      header #view1 .s1, header #view2 .s1, header #view3 .s1, header #view4 .s1, header #view5 .s1, header #view6 .s1, header #view7 .s1 {
        height: 80px;
        background: none;
        top: 0; }
    header li:not(.logo):not(.member):hover .s2 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 150ms;
      transform: translate3d(-4px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header li:not(.logo):not(.member):hover .s3 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 100ms;
      transform: translate3d(-6px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header #view1 .s1 {
      background-position: 0% 0; }
    header #view1 .s2 {
      background-position: 0% -80px; }
    header #view1 .s3 {
      background-position: 0% -90px; }
    header #view2 .s1 {
      background-position: -100% 0; }
    header #view2 .s2 {
      background-position: -100% -80px; }
    header #view2 .s3 {
      background-position: -100% -90px; }
    header #view3 .s1 {
      background-position: -200% 0; }
    header #view3 .s2 {
      background-position: -200% -80px; }
    header #view3 .s3 {
      background-position: -200% -90px; }
    header #view4 .s1 {
      background-position: -300% 0; }
    header #view4 .s2 {
      background-position: -300% -80px; }
    header #view4 .s3 {
      background-position: -300% -90px; }
    header #view5 .s1 {
      background-position: -400% 0; }
    header #view5 .s2 {
      background-position: -400% -80px; }
    header #view5 .s3 {
      background-position: -400% -90px; }
    header #view6 .s1 {
      background-position: -500% 0; }
    header #view6 .s2 {
      background-position: -500% -80px; }
    header #view6 .s3 {
      background-position: -500% -90px; }
    header #view7 .s1 {
      background-position: -600% 0; }
    header #view7 .s2 {
      background-position: -600% -80px; }
    header #view7 .s3 {
      background-position: -600% -90px; } }

body {
  font-family: 微軟正黑體, arial, "sans serif"; }

.food-container, .food-container-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  width: calc(100% - 32px);
  padding-left: 16px;
  padding-right: 16px; }
  @media all and (min-width: 1200px) {
    .food-container, .food-container-2 {
      padding-left: 0px;
      padding-right: 0px;
      margin: 0 auto; } }

@media all and (min-width: 1200px) {
  .food-container-2 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    padding: 10px; } }

* {
  margin: 0;
  padding: 0; }

.food-container img,
.food-container-2 img {
  width: 100%;
  display: inline-block;
  vertical-align: top; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.food-choose .rwd-dek {
  display: none; }

.food-search {
  width: 250px;
  font-size: 20px;
  border-radius: 50px;
  border: 2px solid #76391B;
  position: relative;
  margin-bottom: 25px; }
  @media all and (min-width: 768px) {
    .food-search {
      width: 300px; } }
  .food-search #input_search {
    font-size: 24px;
    line-height: 36px;
    padding-left: 15px;
    border-radius: 50px;
    border: 0;
    outline: none; }
  .food-search #input_search:focus + label,
  .food-search #input_search:valid + label {
    top: 0;
    transform: translateY(-150%);
    transition: 0.4s;
    font-size: 16px; }
  .food-search #input_search:focus {
    border: 0; }
  .food-search .input_pl {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s; }
  .food-search #start_search {
    font-size: 24px;
    font-family: 微軟正黑體, arial, "sans serif";
    line-height: 60px;
    color: #fff;
    background-color: #BB7232;
    border-radius: 0 50px 50px 0;
    border: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  @media all and (min-width: 1200px) {
    .food-search {
      width: 400px; } }
  .food-search input {
    width: 200px;
    background-color: #f1f1f179;
    border: none;
    padding: 10px 5px 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    border: 1px solid #76391B;
    box-shadow: 1px 3px 1px #ad6631; }
    .food-search input::placeholder {
      color: #76391B;
      font-family: 微軟正黑體, arial, "sans serif"; }
    @media all and (min-width: 768px) {
      .food-search input {
        width: 200px; } }
    @media all and (min-width: 1200px) {
      .food-search input {
        width: 260px;
        padding: 10px 5px 10px 25px;
        font-size: 20px; } }
  .food-search .fa-search {
    position: absolute;
    top: 12px;
    left: 8px;
    z-index: 1; }
    @media all and (min-width: 1200px) {
      .food-search .fa-search {
        top: 15px;
        left: 8px; } }

.food-banner {
  background-image: url(../images/banner02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 56vh;
  position: relative; }
  .food-banner .food-main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 15%;
    padding: 5vh 5vw;
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 600; }

.menu-info {
  background-color: #FCF2CA;
  color: #76391B;
  width: 60%;
  padding: 10px 20px;
  border: 1px solid #76391B;
  box-shadow: 2px 2px #76391B;
  position: relative;
  top: -15px;
  border-radius: 10px; }
  .menu-info h2 {
    font-size: 16px; }

.food-choose {
  font-size: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center; }
  @media all and (min-width: 1200px) {
    .food-choose {
      margin-bottom: 50px;
      margin-top: 50px; }
      .food-choose .part-lg-4 {
        width: calc(33.33% - 96px);
        padding-right: 0;
        padding-left: 0; }
        .food-choose .part-lg-4:nth-child(2) {
          margin-left: 143px;
          margin-right: 143px; } }
  .food-choose_item {
    color: #76391b;
    border-radius: 20px;
    background-color: #fcf2ca;
    font-size: 16px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: relative;
    cursor: pointer; }
    @media screen and (min-width: 500px) and (max-width: 767px) {
      .food-choose_item {
        padding: 15px 0; } }
    @media all and (min-width: 768px) {
      .food-choose_item {
        width: 100px;
        height: 100px; } }
    @media all and (min-width: 1200px) {
      .food-choose_item {
        padding: 40px 0; } }
    .food-choose_item p {
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 8px; }
      @media all and (min-width: 1200px) {
        .food-choose_item p {
          font-size: 30px; } }
      .food-choose_item p:nth-child(2) {
        display: none; }

.food-choose .food-choose_item.clickMe {
  background: #FF5000;
  color: #fff; }

.food-choose .part--4 {
  position: relative; }

.food-choose .food-icon-lan {
  width: 64px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.food-choose .food-icon-don {
  width: 64px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.food-choose .food-icon-soup {
  width: 100px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.food-choose .food-icon-den {
  width: 100px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.food-choose .food-icon-ban {
  width: 100px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.food-choose .food-icon-veb {
  width: 100px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.food-filiter {
  font-size: 16px; }
  .food-filiter .spicy {
    margin-right: 20px; }
  .food-filiter img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block; }
  @media all and (min-width: 1200px) {
    .food-filiter {
      font-size: 20px;
      color: #76391b; }
      .food-filiter .spicy {
        margin-right: 80px; }
      .food-filiter img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        display: inline-block; } }

.food-container-2 h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #76391B; }
  @media all and (min-width: 1200px) {
    .food-container-2 h1 {
      font-size: 36px;
      margin-bottom: 50px; } }

.food-content {
  font-size: 0;
  text-align: center;
  height: 80vh; }
  .food-content .food-item {
    margin-bottom: 50px; }

.scale-anm {
  transform: scale(1); }

.food-title {
  display: inline-block;
  vertical-align: middle; }
  .food-title h2 {
    font-size: 20px;
    margin: 10px; }

.food-pic {
  position: relative;
  font-size: 16px;
  overflow: hidden; }
  .food-pic img {
    position: relative; }
  .food-pic .bgimg {
    position: absolute;
    top: 0;
    right: 0; }

.food-price {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: #FF5000;
  display: inline-block;
  vertical-align: middle; }

.food-score {
  padding: 10px 0;
  font-size: 0; }
  .food-score .scoreEgg-container ul li {
    display: inline-block;
    width: 25px;
    margin-right: 3px; }
  .food-score .pic img {
    width: 100%; }
  .food-score .scoreEgg-container {
    float: left;
    vertical-align: middle; }
  .food-score .scoreEgg-container + p {
    float: right;
    vertical-align: middle; }
  .food-score .scoreNum {
    font-size: 24px;
    color: #76391B;
    margin-top: 5px;
    display: inline-block; }

.food-button {
  text-align: center; }
  .food-button-save {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: #76391B;
    box-shadow: 0px 4px 0px #FED44F;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    padding: 0 10px; }
    .food-button-save p {
      display: inline-block; }
  .food-button-buy {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    color: #76391B;
    background-color: #FCE444;
    box-shadow: 0px 4px 0px #76391B;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    padding: 0 10px; }
    .food-button-buy p {
      display: inline-block; }

.food-button .fa-heart {
  font-size: 20px;
  margin-right: 10px; }

.food-button .fa-cart-plus {
  font-size: 20px;
  margin-right: 10px; }

.part--1 {
  width: 8.33333%; }

.part--2 {
  width: 16.66667%; }

.part--3 {
  width: 25%; }

.part--4 {
  width: 33.33333%; }

.part--5 {
  width: 41.66667%; }

.part--6 {
  width: 50%; }

.part--7 {
  width: 58.33333%; }

.part--8 {
  width: 66.66667%; }

.part--9 {
  width: 75%; }

.part--10 {
  width: 83.33333%; }

.part--11 {
  width: 91.66667%; }

.part--12 {
  width: 100%; }

.part--4 {
  text-align: center;
  float: left;
  width: calc(33.33% - 20px); }
  .part--4:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px; }

.food-Banner {
  position: relative;
  height: 50vh; }

.food-Banner img {
  border-radius: 20px 80px 20px;
  position: absolute;
  height: 50vh; }

.food-search {
  margin-bottom: 0px;
  margin: auto;
  margin-top: 24px; }

.food-button-save {
  float: left; }

.food-button-buy {
  float: right; }

@media all and (min-width: 576px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; } }

@media all and (min-width: 768px) {
  .part-md-1 {
    width: 8.33333%;
    display: inline-block; }
  .part-md-2 {
    width: 16.66667%;
    display: inline-block; }
  .part-md-3 {
    width: 25%;
    display: inline-block; }
  .part-md-4 {
    width: 33.33333%;
    display: inline-block; }
  .part-md-5 {
    width: 41.66667%;
    display: inline-block; }
  .part-md-6 {
    width: 50%;
    display: inline-block; }
  .part-md-7 {
    width: 58.33333%;
    display: inline-block; }
  .part-md-8 {
    width: 66.66667%;
    display: inline-block; }
  .part-md-9 {
    width: 75%;
    display: inline-block; }
  .part-md-10 {
    width: 83.33333%;
    display: inline-block; }
  .part-md-11 {
    width: 91.66667%;
    display: inline-block; }
  .part-md-12 {
    width: 100%;
    display: inline-block; }
  .food-content .part-md-6 {
    width: calc(50% - 20px); }
  .menu-info {
    width: 50%;
    padding: 20px 20px; }
  .food-choose .rwd-dek {
    display: inline-block; }
  .part--4:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px; }
  .part-md-2 {
    width: calc(16.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .food-choose_item p {
    font-size: 20px;
    line-height: 100px; }
  .food-Banner .food-name {
    top: 75px;
    left: 50px;
    padding: 20px 50px 25px 20px; }
    .food-Banner .food-name .food-cate {
      font-size: 36px; }
      .food-Banner .food-name .food-cate + p {
        font-size: 30px; }
  .food-search input {
    width: 280px; }
  .food-content .part-md-6 {
    margin-left: 10px;
    margin-right: 10px; } }

@media all and (min-width: 992px) {
  .part-lg-1 {
    width: 8.33333%; }
  .part-lg-2 {
    width: 16.66667%; }
  .part-lg-3 {
    width: 25%; }
  .part-lg-4 {
    width: 33.33333%; }
  .part-lg-5 {
    width: 41.66667%; }
  .part-lg-6 {
    width: 50%; }
  .part-lg-7 {
    width: 58.33333%; }
  .part-lg-8 {
    width: 66.66667%; }
  .part-lg-9 {
    width: 75%; }
  .part-lg-10 {
    width: 83.33333%; }
  .part-lg-11 {
    width: 91.66667%; }
  .part-lg-12 {
    width: 100%; } }

@media all and (min-width: 1200px) {
  .part-xl-1 {
    width: 8.33333%; }
  .part-xl-2 {
    width: 16.66667%; }
  .part-xl-3 {
    width: 25%; }
  .part-xl-4 {
    width: 33.33333%; }
  .part-xl-5 {
    width: 41.66667%; }
  .part-xl-6 {
    width: 50%; }
  .part-xl-7 {
    width: 58.33333%; }
  .part-xl-8 {
    width: 66.66667%; }
  .part-xl-9 {
    width: 75%; }
  .part-xl-10 {
    width: 83.33333%; }
  .part-xl-11 {
    width: 91.66667%; }
  .part-xl-12 {
    width: 100%; }
  .food-Banner img {
    height: 78vh; }
  .part-xl-12 {
    width: 100%;
    height: 78vh;
    margin-bottom: 0px; }
  .food-content .part-xl-3 {
    width: calc(25% - 50px);
    margin-right: 25px;
    margin-left: 25px;
    box-sizing: border-box; }
  .food-button-save {
    float: left; }
  .food-button-buy {
    float: right; }
  .food-score {
    padding: 10px 0;
    font-size: 0;
    text-align: left;
    font-size: 16px; }
  .food-choose_item {
    padding: 0;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto; }
    .food-choose_item p {
      line-height: 150px;
      font-size: 30px; }
  .food-search input {
    width: 380px; }
  .menu-info {
    width: 30%;
    padding: 20px 40px;
    top: -30px; }
    .menu-info h2 {
      font-size: 30px; }
  .food-content {
    font-size: 0;
    text-align: center;
    margin-left: -25px;
    margin-right: -25px; }
  .food-pic img {
    width: 240px;
    height: 160px; }
  .food-pic .bgimg {
    position: absolute;
    top: 0px;
    right: 10px; }
  header {
    height: 80px;
    margin-bottom: 50px; }
  .food-choose .food-icon-lan {
    width: 100px; }
  .food-choose .food-icon-don {
    width: 100px; } }
