@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 微軟正黑體, arial, "sans serif";
  color: #333333;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.part-1 {
  width: 8.33333%; }

.part-2 {
  width: 16.66667%; }

.part-3 {
  width: 25%; }

.part-4 {
  width: 33.33333%; }

.part-5 {
  width: 41.66667%; }

.part-6 {
  width: 50%; }

.part-7 {
  width: 58.33333%; }

.part-8 {
  width: 66.66667%; }

.part-9 {
  width: 75%; }

.part-10 {
  width: 83.33333%; }

.part-11 {
  width: 91.66667%; }

.part-12 {
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
