.indexMeal-spotlight {
  position: relative;
  height: 100%;
  text-align: center; }
  .indexMeal-spotlight::before, .indexMeal-spotlight::after {
    content: ""; }
  .indexMeal-spotlight::before {
    display: inline-block;
    margin-top: -100vw;
    height: 0;
    width: 0;
    border: 3px solid;
    border-width: 70vw 15vw;
    border-color: transparent transparent #d6b24a; }
  .indexMeal-spotlight::after {
    bottom: 27px;
    width: 30vw;
    height: 45px;
    background: #e9d59d;
    border-radius: 200%;
    position: relative;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 2px 0px #eedeb2; }
