@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 微軟正黑體, arial, "sans serif";
  color: #333333;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  clear: both; }

.part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.part-1 {
  width: 8.33333%; }

.part-2 {
  width: 16.66667%; }

.part-3 {
  width: 25%; }

.part-4 {
  width: 33.33333%; }

.part-5 {
  width: 41.66667%; }

.part-6 {
  width: 50%; }

.part-7 {
  width: 58.33333%; }

.part-8 {
  width: 66.66667%; }

.part-9 {
  width: 75%; }

.part-10 {
  width: 83.33333%; }

.part-11 {
  width: 91.66667%; }

.part-12 {
  width: 100%; }

.bookmark_animation label:after, .bookmark_animation span, .bookmark_meal .bookmark_meal_item div, .bookmark_meal .bookmark_meal_item label, .bookmark_meal .bookmark_meal_item #meal_Price1, .bookmark_meal .bookmark_meal_item #meal_Price2 {
  display: inline-block;
  vertical-align: middle; }

.close_longing::before, .close_longing::after, .close_chatBot::before, .close_chatBot::after {
  background-color: #76391B;
  width: 35px;
  height: 3px;
  position: absolute; }

.bookmark_animation .bookmark_animation1, .bookmark_animation .bookmark_animation1::after, .bookmark_animation .bookmark_animation1::before, .bookmark_animation .bookmark_animation2 {
  top: 50%;
  left: 0%;
  width: 15px;
  height: 15px;
  position: absolute; }

.longing_wrap * {
  box-sizing: border-box;
  outline: 1px solid #f00; }

.longing_wrap button {
  width: 50%;
  margin: auto;
  display: block;
  cursor: pointer;
  font-size: 30px;
  background-color: #FCE444;
  border: 0;
  font-family: 微軟正黑體, arial, "sans serif"; }

#close_longing {
  display: none; }

.close_longing {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 15px;
  top: calc(100px + 17px);
  z-index: 6;
  cursor: pointer; }
  .close_longing::before {
    content: '';
    top: 50%;
    left: calc(50% - 17px);
    transform: rotate(-45deg); }
  .close_longing::after {
    content: '';
    top: 50%;
    left: calc(50% - 17px);
    transform: rotate(45deg); }

#close_longing:checked ~ .longing_wrap {
  display: none;
  transition: 0.2s; }

#close_longing:checked ~ .close_longing {
  display: none; }

.longing_logo {
  display: none; }

.longing_wrap {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-color: #fcf2ca;
  background-color: rgba(252, 242, 202, 0.9);
  position: fixed;
  top: 100px;
  left: 0; }
  .longing_wrap_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
    .longing_wrap_content_cover {
      width: 200%;
      height: 200%; }
      .longing_wrap_content_cover .part-6 {
        padding: 0 16px;
        height: 50%;
        position: relative;
        top: 0;
        left: 0;
        transition: 0.2s; }
      .longing_wrap_content_cover input[type="radio"] {
        display: none; }
      .longing_wrap_content_cover .cover_run {
        font-size: 16px; }
  .longing_wrap label {
    cursor: pointer; }
  .longing_wrap input {
    cursor: pointer; }

#to_get_Psw:checked ~ .get_Psw,
#to_get_Psw:checked ~ .sigin {
  left: -50%;
  transition: 0.4s; }

#to_sigup:checked ~ .sigup,
#to_sigup:checked ~ .sigin,
#to_sigup:checked ~ .get_Psw {
  top: -50%;
  transition: 0.9s; }

#to_sigup:checked ~ .sigin .to_sigup {
  top: 140px;
  background-color: #fff0;
  border: 0;
  transition: background-color 0.4s, top 0.7s; }

.longing_wrap_content_cover .input_wrap {
  position: relative;
  margin: 0 auto 36px;
  width: 80%; }
  .longing_wrap_content_cover .input_wrap label {
    font-size: 20px; }
  .longing_wrap_content_cover .input_wrap .input_mem {
    width: 100%;
    height: 36px;
    border-radius: 50px;
    border: 0;
    padding-left: 60px; }
    .longing_wrap_content_cover .input_wrap .input_mem:focus {
      border: 0;
      cursor: text; }
    .longing_wrap_content_cover .input_wrap .input_mem:focus + label,
    .longing_wrap_content_cover .input_wrap .input_mem:valid + label {
      top: -12px;
      transition: 0.4s;
      font-size: 16px; }
  .longing_wrap_content_cover .input_wrap .input_pl {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%); }
  .longing_wrap_content_cover .input_wrap img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%); }
  .longing_wrap_content_cover .input_wrap .check_ture,
  .longing_wrap_content_cover .input_wrap .check_false {
    width: 15px;
    height: 15px;
    left: 105%;
    top: 50%;
    transform: translateY(-50%); }
  .longing_wrap_content_cover .input_wrap .eye {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 45px);
    width: 20px; }

#input_pl_check_text {
  position: static; }

.longing_heard {
  padding: 30px 0 40px; }
  .longing_heard .btn_to_sigin {
    position: relative; }
    .longing_heard .btn_to_sigin .cover_run {
      padding: 5px 10px;
      background-color: #FCF2CA;
      border: 3px solid #FCE444;
      border-radius: 50px; }
    .longing_heard .btn_to_sigin span {
      width: auto;
      font-size: 30px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto; }

.sigin .longing_heard {
  padding: 35px; }

.sigin .cover_run {
  text-align: center;
  display: block; }

.sigin .to_sigup {
  width: 50%;
  margin: 15px auto;
  font-size: 30px;
  background-color: #fff6;
  border: 2px solid #FCE444;
  display: block;
  text-align: center;
  padding: 4px 0;
  position: relative;
  top: 0; }

.get_Psw .email_pic {
  margin: 0 0 36px; }
  .get_Psw .email_pic img {
    width: 50px;
    height: 50px; }
  .get_Psw .email_pic img:nth-child(1) {
    position: relative;
    left: 50%;
    top: 15px;
    transform: translateX(-90%); }
  .get_Psw .email_pic img:nth-child(2) {
    position: relative;
    left: 50%;
    transform: translateX(-100%); }

.get_Psw p {
  text-align: center;
  padding: 0px 0 10%; }

.sigup {
  position: relative;
  transition: 0.4s;
  top: 0;
  left: 0; }
  .sigup span {
    font-size: 15px;
    position: absolute;
    width: 100%;
    left: 15px;
    top: 105%; }
  .sigup .sigup_go {
    width: 50%;
    margin: 15px auto;
    font-size: 30px;
    background-color: #fff6;
    border: 2px solid #FCE444;
    display: block;
    text-align: center;
    padding: 4px 0;
    background-color: #FCE444; }

.sigup_ok {
  transition: 0.4; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .close_longing {
    left: 0;
    right: calc(-30% - 180px);
    top: 37.7%;
    margin: auto; }
  .longing_logo {
    width: 25%;
    min-width: 230px;
    max-width: 330px;
    display: block;
    position: fixed;
    top: calc(100px - 5%);
    left: 52%;
    transform: translateX(-50%); }
  .longing_wrap {
    z-index: 5;
    top: 0; }
    .longing_wrap_content {
      height: 100%;
      top: 70%;
      left: 0;
      right: 0; }
      .longing_wrap_content_cover {
        width: 200%;
        height: 200%; }
        .longing_wrap_content_cover .cover_run {
          font-size: 24px; }
    .longing_wrap button {
      width: 20%;
      min-width: 300px; }
  .longing_wrap_content_cover .input_wrap {
    width: 20%;
    min-width: 300px;
    margin: 25px auto 45px; }
    .longing_wrap_content_cover .input_wrap .input_mem {
      height: 50px;
      padding-left: 60px; }
      .longing_wrap_content_cover .input_wrap .input_mem:focus + label,
      .longing_wrap_content_cover .input_wrap .input_mem:valid + label {
        font-size: 20px; }
    .longing_wrap_content_cover .input_wrap .check_ture,
    .longing_wrap_content_cover .input_wrap .check_false {
      width: 30px;
      height: 30px; }
  .longing_heard {
    width: 30%;
    min-width: 450px;
    margin: auto;
    padding: 30px 0 40px; }
    .longing_heard .btn_to_sigin span {
      font-size: 36px; }
  .sigin .longing_heard {
    padding: 47px; }
  .sigin .to_sigup {
    width: 20%;
    min-width: 300px;
    font-size: 30px; }
  .get_Psw .email_pic {
    margin: 0 0 36px; }
    .get_Psw .email_pic img {
      width: 100px;
      height: 100px; }
  .get_Psw p {
    text-align: center;
    padding: 0px 0 3%;
    font-size: 24px; }
  .sigup span {
    font-size: 20px; }
  .sigup .sigup_go {
    width: 20%;
    min-width: 300px;
    margin: 60px auto; } }

@media screen and (min-width: 1024px) {
  .part-md-1 {
    width: 8.33333%; }
  .part-md-2 {
    width: 16.66667%; }
  .part-md-3 {
    width: 25%; }
  .part-md-4 {
    width: 33.33333%; }
  .part-md-5 {
    width: 41.66667%; }
  .part-md-6 {
    width: 50%; }
  .part-md-7 {
    width: 58.33333%; }
  .part-md-8 {
    width: 66.66667%; }
  .part-md-9 {
    width: 75%; }
  .part-md-10 {
    width: 83.33333%; }
  .part-md-11 {
    width: 91.66667%; }
  .part-md-12 {
    width: 100%; }
  .part-md-1, .part-md-2, .part-md-3, .part-md-4, .part-md-5, .part-md-6, .part-md-7, .part-md-8, .part-md-9, .part-md-10, .part-md-11, .part-md-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .close_longing {
    top: 37.7%; } }

@media screen and (min-width: 1200px) {
  .part-lg-1 {
    width: 8.33333%; }
  .part-lg-2 {
    width: 16.66667%; }
  .part-lg-3 {
    width: 25%; }
  .part-lg-4 {
    width: 33.33333%; }
  .part-lg-5 {
    width: 41.66667%; }
  .part-lg-6 {
    width: 50%; }
  .part-lg-7 {
    width: 58.33333%; }
  .part-lg-8 {
    width: 66.66667%; }
  .part-lg-9 {
    width: 75%; }
  .part-lg-10 {
    width: 83.33333%; }
  .part-lg-11 {
    width: 91.66667%; }
  .part-lg-12 {
    width: 100%; }
  .part-lg-1, .part-lg-2, .part-lg-3, .part-lg-4, .part-lg-5, .part-lg-6, .part-lg-7, .part-lg-8, .part-lg-9, .part-lg-10, .part-lg-11, .part-lg-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .close_longing {
    right: 0%;
    left: 30%;
    top: 37.7%; }
  .longing_wrap_content_cover .input_wrap .input_mem {
    height: 50px;
    padding-left: 60px; }
    .longing_wrap_content_cover .input_wrap .input_mem:focus + label,
    .longing_wrap_content_cover .input_wrap .input_mem:valid + label {
      font-size: 20px; }
  .longing_wrap_content_cover .input_wrap .check_ture,
  .longing_wrap_content_cover .input_wrap .check_false {
    width: 30px;
    height: 30px; } }

#chatBot {
  width: 100%;
  height: calc(100% - 100px);
  position: absolute;
  top: 0;
  left: 0; }
  #chatBot * {
    box-sizing: border-box; }

.chatBot_contenier_wrap {
  display: none;
  height: 100%;
  background-color: #208ee8;
  padding: 0 16px;
  text-align: center;
  letter-spacing: 1px; }
  .chatBot_contenier_wrap h3 {
    padding: 15px 0;
    display: inline-block;
    font-weight: bold;
    color: #fff; }

#chatBot_content {
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  height: calc(100% - 175px);
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 16px 0; }
  #chatBot_content::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  #chatBot_content::-webkit-scrollbar-thumb {
    background-color: #BB7232;
    background-color: #245075;
    background-color: rgba(36, 80, 117, 0.7);
    border-radius: 10px; }
  #chatBot_content::-webkit-scrollbar-thumb:hover {
    background-color: #76391B; }
  #chatBot_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #333;
    border-radius: 10px; }
  #chatBot_content p {
    border-radius: 10px;
    background-color: #FCE444;
    padding: 10px;
    line-height: 1.6em;
    margin: 10px 0;
    position: relative; }
    #chatBot_content p:after {
      content: '';
      width: 0px;
      height: 0px;
      display: block;
      border-radius: 15px; }
  #chatBot_content .chatBot_content_A {
    float: left;
    margin-right: 14%; }
    #chatBot_content .chatBot_content_A:after {
      content: '';
      width: 100%;
      height: 0;
      display: block;
      clear: both; }
    #chatBot_content .chatBot_content_A:before {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #FCE444;
      border-left: 15px solid transparent;
      position: absolute;
      top: 5px;
      left: -25px; }
  #chatBot_content .chatBot_content_Q {
    float: right; }
    #chatBot_content .chatBot_content_Q:after {
      content: '';
      height: 0;
      display: block;
      clear: both; }
    #chatBot_content .chatBot_content_Q:before {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid #FCE444;
      position: absolute;
      top: 5px;
      right: -25px; }

.chatBot_keyword {
  padding: 10px 0;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .chatBot_keyword::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  .chatBot_keyword::-webkit-scrollbar-thumb {
    background-color: #BB7232;
    background-color: #245075;
    background-color: rgba(36, 80, 117, 0.7);
    border-radius: 10px; }
  .chatBot_keyword::-webkit-scrollbar-thumb:hover {
    background-color: #76391B; }
  .chatBot_keyword::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #333;
    border-radius: 10px; }
  .chatBot_keyword li {
    display: inline-block;
    margin-left: 5px;
    background-color: #FF5000;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer; }

.chatBot_text_Wrap {
  padding: 16px 0;
  position: relative; }

#chatBot_search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.chatBot_text {
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 10px;
  border: 0; }

#close_chatBot {
  display: none; }

.close_chatBot_pic img {
  width: 100px;
  vertical-align: middle; }

.close_chatBot {
  width: 30px;
  height: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer; }
  .close_chatBot::before {
    content: '';
    top: 50%;
    left: 0%;
    transform: rotate(-45deg);
    right: 0; }
  .close_chatBot::after {
    content: '';
    top: 50%;
    left: 0%;
    transform: rotate(45deg);
    right: 0; }

#close_chatBot:checked ~ #chatBot {
  top: 100px; }

#close_chatBot:checked ~ #chatBot .close_chatBot_pic img {
  display: none; }

#close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
  display: block;
  width: auto;
  transition: height 0.4s; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  #chatBot {
    width: auto;
    max-width: 380px;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    height: auto; }
  .close_chatBot_pic {
    float: right;
    cursor: pointer; }
  .chatBot_contenier_wrap {
    width: 0;
    height: 0;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    overflow: hidden; }
    .chatBot_contenier_wrap .close_chatBot {
      width: 30px;
      height: 40px;
      position: absolute;
      right: 15px;
      opacity: 0;
      cursor: pointer; }
  .chatBot_keyword {
    padding: 10px 0;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap; }
  .chatBot_text {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 0; }
  #close_chatBot:checked ~ #chatBot {
    top: auto; }
  #close_chatBot:checked ~ #chatBot .close_chatBot {
    opacity: 1;
    transition: 0.8s; }
  #close_chatBot:checked ~ #chatBot .close_chatBot_pic img {
    display: block; }
  #close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
    display: block;
    height: 420px; } }

.search_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  text-align: center; }
  .search_wrap * {
    box-sizing: border-box; }
  .search_wrap input[type="checkbox"] {
    display: none; }
  .search_wrap:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: top; }
  .search_wrap .search_bg {
    width: 80%;
    height: 80%;
    background-color: #FCF2CA;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    vertical-align: top; }
  .search_wrap .input_wrap {
    width: 80%;
    margin: 100px auto 20px;
    font-size: 36px;
    position: relative;
    border-radius: 50px;
    border: 2px solid #BB7232; }
  .search_wrap #input_search {
    font-size: 36px;
    padding-left: 50px;
    width: 100%;
    line-height: 70px;
    border-radius: 50px;
    border: 0;
    outline: none; }
    .search_wrap #input_search:hover {
      cursor: pointer; }
    .search_wrap #input_search:focus + label,
    .search_wrap #input_search:valid + label {
      top: 0;
      transform: translateY(-150%);
      transition: 0.4s;
      font-size: 30px;
      cursor: text; }
    .search_wrap #input_search:focus {
      border: 0;
      cursor: text; }
  .search_wrap .input_pl {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s; }
    .search_wrap .input_pl:hover {
      cursor: pointer; }
  .search_wrap #start_search {
    line-height: 70px;
    font-size: 36px;
    font-family: 微軟正黑體, arial, "sans serif";
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
    border: 0;
    top: 50%;
    transform: translateY(-50%); }
    .search_wrap #start_search:hover {
      cursor: pointer; }

.chickenMaster_wrap {
  width: 30%;
  max-width: 550px;
  position: absolute;
  left: 0;
  bottom: 85px; }
  .chickenMaster_wrap:after {
    content: '除了關鍵字，可以選擇指定搜尋餐點或飯團，底下篩選還可複選喔!';
    font-size: 24px;
    line-height: 1.5em;
    width: 60%;
    min-width: 150px;
    padding: 15px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 100%; }
  .chickenMaster_wrap:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fff;
    position: absolute;
    right: 65%;
    top: -10px;
    z-index: 1;
    transform: rotate(45deg); }
  .chickenMaster_wrap .chickenMaster {
    width: 100%;
    transform: scaleX(-1); }

.bookmark {
  text-align: left;
  margin: 50px 0; }
  .bookmark input[type="radio"] {
    display: none; }

.bookmark_animation {
  text-align: center;
  position: relative; }
  .bookmark_animation label {
    width: 120px;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    margin-left: 120px;
    transform: translateX(-50%);
    position: relative;
    z-index: 1;
    cursor: pointer; }
    .bookmark_animation label:after {
      content: '';
      height: 100%; }
  .bookmark_animation span {
    font-size: 36px;
    width: 100%;
    line-height: 120px;
    background-color: #FEFAEA;
    border-radius: 50%;
    transform: scale(1);
    transition: .4s; }
  .bookmark_animation .bookmark_animation1 {
    background: transparent;
    width: 180px;
    height: 80px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation: rot 10s infinite;
    z-index: 0; }
    .bookmark_animation .bookmark_animation1::after {
      content: '';
      border-radius: 47%;
      transform: translate(-50%, -70%);
      background-color: #fefaea;
      background-color: rgba(254, 250, 234, 0.9);
      animation: toBig2 4.5s infinite; }
    .bookmark_animation .bookmark_animation1::before {
      content: '';
      border-radius: 45%;
      transform: translate(-50%, -70%);
      background-color: #fefaea;
      background-color: rgba(254, 250, 234, 0.3);
      animation: toBig 4.5s infinite; }

#bookmark_meal:checked ~ .bookmark_animation > #bookmark_animation_meal span {
  transform: scale(1.5);
  transition: .4s; }

#bookmark_groupon:checked + .bookmark_animation > #bookmark_animation_groupon span {
  transform: scale(1.5);
  transition: .4s; }

@keyframes toBig {
  0% {
    transform: scale(1.7); }
  30% {
    transform: scale(1.5) rotate(360deg); }
  50% {
    transform: scale(1.5); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1.7) rotate(180deg); } }

@keyframes toBig2 {
  0% {
    transform: scale(1.7); }
  30% {
    transform: scale(1.5) rotate(180deg); }
  50% {
    transform: scale(1.5); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1.7) rotate(360deg); } }

@keyframes rot {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.bookmark_meal {
  display: block;
  padding-left: 25%;
  padding-top: 30px;
  height: 100%; }
  .bookmark_meal .bookmark_meal_item {
    width: 100%;
    position: relative; }
    .bookmark_meal .bookmark_meal_item span {
      width: 110px;
      padding: 24px 0;
      display: inline-block;
      text-align: center;
      background: transparent;
      font-size: 24px;
      margin-right: 20px; }
      .bookmark_meal .bookmark_meal_item span:after {
        content: '';
        display: block;
        width: 105%;
        height: 5px;
        border-radius: 50px;
        background-color: #FF5000;
        margin: 5px 0; }
    .bookmark_meal .bookmark_meal_item div {
      width: 75%; }
    .bookmark_meal .bookmark_meal_item label, .bookmark_meal .bookmark_meal_item #meal_Price1, .bookmark_meal .bookmark_meal_item #meal_Price2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      width: 95px;
      padding: 0.5% 0;
      background: #fff;
      border: 1px solid #FF5000;
      border-radius: 50px;
      margin-right: 8px;
      cursor: pointer; }
    .bookmark_meal .bookmark_meal_item .meal_Cal {
      width: 130px; }
    .bookmark_meal .bookmark_meal_item #meal_Price1, .bookmark_meal .bookmark_meal_item #meal_Price2 {
      cursor: text;
      position: relative; }

#mealGenre_No1:hover ~ .mealGenre_No:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No1:checked ~ .mealGenre_No:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No2:hover ~ .mealGenre_No:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No2:checked ~ .mealGenre_No:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No3:hover ~ .mealGenre_No:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No3:checked ~ .mealGenre_No:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No4:hover ~ .mealGenre_No:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No4:checked ~ .mealGenre_No:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No5:hover ~ .mealGenre_No:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No5:checked ~ .mealGenre_No:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No6:hover ~ .mealGenre_No:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

#mealGenre_No6:checked ~ .mealGenre_No:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal1:hover ~ .meal_Cal:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal1:checked ~ .meal_Cal:nth-of-type(1) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal2:hover ~ .meal_Cal:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal2:checked ~ .meal_Cal:nth-of-type(2) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal3:hover ~ .meal_Cal:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal3:checked ~ .meal_Cal:nth-of-type(3) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal4:hover ~ .meal_Cal:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal4:checked ~ .meal_Cal:nth-of-type(4) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal5:hover ~ .meal_Cal:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal5:checked ~ .meal_Cal:nth-of-type(5) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal6:hover ~ .meal_Cal:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

#meal_Cal6:checked ~ .meal_Cal:nth-of-type(6) {
  background-color: #FF5000;
  color: #fff; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; } }
