@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  height: 80px; }
  header * {
    font-size: 0;
    font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei"; }
  header a {
    font-size: 24px;
    color: #fff;
    text-decoration: none; }
  header #navctrl {
    display: none; }
    header #navctrl:checked ~ .phone_nav .hb .line {
      transform: rotate(360deg);
      opacity: 0;
      transition: 0.3s; }
    header #navctrl:checked ~ .phone_nav .hb:before {
      transform: translateY(13.5px) rotate(225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ .phone_nav .hb:after {
      transform: translateY(-13px) rotate(-225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ nav {
      transform: translate(-350px, 1000px) rotate(0deg);
      top: -1000px;
      left: 350px;
      transition: transform 1s; }
  header .phone_nav {
    padding: 0 40px 0 10px;
    height: 75px;
    background: url(../image/nav_background_768.png) repeat-x;
    position: relative; }
    header .phone_nav:after {
      content: '';
      width: 0;
      height: 120%;
      display: inline-block;
      vertical-align: middle; }
    header .phone_nav div {
      width: 33.33333333%;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
      header .phone_nav div.nav_left {
        text-align: left; }
      header .phone_nav div.nav_right {
        text-align: right; }
    header .phone_nav .hb {
      margin: auto;
      width: 70px;
      height: 50px;
      cursor: pointer;
      opacity: .8;
      transition: .5s;
      position: absolute;
      top: 28%;
      z-index: 1001; }
      header .phone_nav .hb .line, header .phone_nav .hb:before, header .phone_nav .hb:after {
        content: '';
        margin: auto;
        width: 60%;
        height: 3px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 21%;
        left: 0;
        transition: 0.3s; }
      header .phone_nav .hb:before {
        bottom: auto; }
      header .phone_nav .hb:after {
        top: auto; }
    header .phone_nav .logo img {
      height: 90px; }
    header .phone_nav .seach_button {
      padding: 23px 9px 18px;
      color: #76391b;
      border-radius: 50%;
      background-color: #fcf2ca;
      box-shadow: 1px 3px 1px #ad6631;
      cursor: pointer; }
      header .phone_nav .seach_button img {
        margin-top: -6px;
        vertical-align: middle; }
  header nav {
    transition: 1s;
    position: absolute;
    transform: translate(0, 0) rotate(-90deg);
    top: -1000px;
    left: 350px;
    transition: transform 1s; }
    header nav:before {
      content: '';
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      background-color: #425075;
      transform-origin: left top;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0; }
    header nav ul {
      position: relative;
      left: 50%; }
      header nav ul li {
        margin-bottom: 20px; }
      header nav ul .logo {
        margin-bottom: 30px; }
        header nav ul .logo img {
          margin-top: -15px;
          height: 140px; }
      header nav ul .member {
        margin-bottom: 35px; }
        header nav ul .member .before_login {
          display: none; }
          header nav ul .member .before_login a {
            margin-right: 20px; }
        header nav ul .member .after_login {
          display: inline-block; }
          header nav ul .member .after_login div {
            display: inline-block;
            vertical-align: middle; }
            header nav ul .member .after_login div .member_Pic {
              width: 35px;
              height: 35px;
              border-radius: 50%; }
            header nav ul .member .after_login div img {
              cursor: pointer; }
            header nav ul .member .after_login div span {
              padding: 5px 10px;
              font-size: 12px;
              color: #fff;
              display: inline-block; }
              header nav ul .member .after_login div span .achievement_Pic {
                margin: -5px 8px 0 2px;
                vertical-align: middle; }
  header #white_Point_control {
    display: none; }
    header #white_Point_control:checked ~ .white_Point {
      width: 70vmin;
      height: 70vmin;
      transform: translate(-50%, -50%);
      transition: 1s;
      top: 50%;
      left: 50%; }
      header #white_Point_control:checked ~ .white_Point li {
        display: inline-block; }
  header .white_Point {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #425075;
    position: fixed;
    transition: 1s;
    top: 80px;
    right: 0%;
    z-index: 101; }
    header .white_Point.floaty.active {
      z-index: 10001; }
    header .white_Point.floaty:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-top: 0; }
    header .white_Point.floaty.active:before {
      content: "";
      display: block;
      top: -500%;
      left: -500%;
      width: 1100%;
      height: 1100%; }
    header .white_Point ul {
      text-align: center; }
      header .white_Point ul li {
        margin: 0 auto;
        width: 50%;
        height: 23.33333333vmin;
        display: none; }
        header .white_Point ul li:after {
          content: '';
          width: 0;
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        header .white_Point ul li a {
          font-size: 16px;
          vertical-align: middle;
          display: inline-block; }
          header .white_Point ul li a img {
            margin-bottom: 5px;
            width: 40%; }
        header .white_Point ul li:nth-of-type(1) {
          width: 100%; }
        header .white_Point ul li:nth-of-type(4), header .white_Point ul li:nth-of-type(5) {
          max-width: 120px; }
  header #view1 {
    display: none; }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../image/nav_background.png);
    font-size: 0;
    text-align: center; }
    header #navctrl:checked ~ nav {
      transform: translate(0, 0) rotate(0deg);
      top: 0px;
      left: 0px;
      transition: 0s; }
    header .phone_nav {
      padding: 0;
      width: 14.28571428%;
      height: 100px;
      background: none;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      header .phone_nav div.nav_right {
        width: 100%;
        text-align: center; }
        header .phone_nav div.nav_right .seach_button {
          padding: 10px 40px 10px 10px;
          border-radius: 20px;
          font-size: 16px; }
      header .phone_nav .nav_left, header .phone_nav .logo {
        font-size: 0;
        margin: 0;
        padding: 0;
        display: none; }
        header .phone_nav .nav_left img, header .phone_nav .logo img {
          height: 120px; }
    header nav {
      width: 71.42857142%;
      position: relative;
      display: inline-block;
      transform: translate(0, 0) rotate(0deg);
      transition: 0s;
      top: 0px;
      left: 0px;
      vertical-align: top; }
      header nav:before {
        display: none; }
      header nav ul {
        width: 100%;
        height: 100px;
        display: inline-block;
        position: static; }
        header nav ul li {
          width: 20%;
          height: 100px;
          display: inline-block;
          vertical-align: top; }
          header nav ul li:after {
            content: '';
            width: 0;
            height: 120%;
            display: inline-block;
            vertical-align: middle; }
          header nav ul li.table_hidden {
            display: none; }
          header nav ul li.logo {
            transform: translateX(200%); }
          header nav ul li.member {
            transform: translateX(300%); }
          header nav ul li.meals {
            transform: translateX(100%); }
          header nav ul li.initiate {
            transform: translateX(-300%); }
          header nav ul li.participate {
            transform: translateX(-300%); }
    header #white_Point_control {
      display: none; }
      header #white_Point_control:checked ~ .white_Point {
        width: 14.28571428%;
        height: 100px;
        transform: translate(0, 0);
        transition: 0s;
        position: static; }
        header #white_Point_control:checked ~ .white_Point li.table_hidden {
          display: none; }
    header .white_Point {
      margin: auto;
      width: 14.28571428%;
      height: 100px;
      border-radius: 0;
      background: none;
      vertical-align: top;
      display: inline-block;
      transform: translate(0, 0);
      transition: 0s;
      position: static; }
      header .white_Point:checked ~ .white_Point {
        width: 50px;
        height: 50px;
        transform: translate(0, 0);
        position: static; }
      header .white_Point ul {
        height: 100%; }
        header .white_Point ul:after {
          content: '';
          width: 0;
          height: 120%;
          display: inline-block;
          vertical-align: middle; }
        header .white_Point ul li {
          width: auto;
          height: auto;
          display: inline-block; }
          header .white_Point ul li.table_hidden {
            display: none; }
          header .white_Point ul li:nth-of-type(1) {
            width: auto; }
          header .white_Point ul li a {
            margin: 0 8px;
            padding: 6px;
            font-size: 0;
            color: #76391b;
            border-radius: 20px;
            background-color: #fcf2ca;
            box-shadow: 1px 3px 1px #ad6631;
            display: inline-block;
            position: relative; }
            header .white_Point ul li a img {
              width: 25px;
              height: 25px; }
            header .white_Point ul li a span {
              padding: 3px 7px 5px;
              font-size: 8px;
              color: #fff;
              background-color: #AD6631;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              right: -4px; }
    header #view1, header #view2, header #view3, header #view4, header #view5, header #view6, header #view7 {
      width: 100%;
      height: 100px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      header #view1 .slice, header #view2 .slice, header #view3 .slice, header #view4 .slice, header #view5 .slice, header #view6 .slice, header #view7 .slice {
        width: 100%;
        height: 10px;
        transform-style: preserve-3d;
        transform-origin: center top;
        transition: 150ms ease-in-out;
        background-image: url(../image/nav_background.png);
        perspective: 1000px;
        position: relative;
        top: 100%; }
      header #view1 .s1, header #view2 .s1, header #view3 .s1, header #view4 .s1, header #view5 .s1, header #view6 .s1, header #view7 .s1 {
        height: 80px;
        background: none;
        top: 0; }
    header li:not(.logo):not(.member):hover .s2 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 150ms;
      transform: translate3d(-4px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header li:not(.logo):not(.member):hover .s3 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 100ms;
      transform: translate3d(-6px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header #view1 .s1 {
      background-position: 0% 0; }
    header #view1 .s2 {
      background-position: 0% -80px; }
    header #view1 .s3 {
      background-position: 0% -90px; }
    header #view2 .s1 {
      background-position: -100% 0; }
    header #view2 .s2 {
      background-position: -100% -80px; }
    header #view2 .s3 {
      background-position: -100% -90px; }
    header #view3 .s1 {
      background-position: -200% 0; }
    header #view3 .s2 {
      background-position: -200% -80px; }
    header #view3 .s3 {
      background-position: -200% -90px; }
    header #view4 .s1 {
      background-position: -300% 0; }
    header #view4 .s2 {
      background-position: -300% -80px; }
    header #view4 .s3 {
      background-position: -300% -90px; }
    header #view5 .s1 {
      background-position: -400% 0; }
    header #view5 .s2 {
      background-position: -400% -80px; }
    header #view5 .s3 {
      background-position: -400% -90px; }
    header #view6 .s1 {
      background-position: -500% 0; }
    header #view6 .s2 {
      background-position: -500% -80px; }
    header #view6 .s3 {
      background-position: -500% -90px; }
    header #view7 .s1 {
      background-position: -600% 0; }
    header #view7 .s2 {
      background-position: -600% -80px; }
    header #view7 .s3 {
      background-position: -600% -90px; } }
