#chatBot {
  //客服機器人最外層
  width: 100%;
  height: calc(100% - 100.228px);
  position: absolute;
  top: 0;
  left: 0;
  * {
    box-sizing: border-box;
    // outline: 1px solid #f00;
  }
}
.chatBot_contenier_wrap {
  //客服雞以上的物件的wrap
  display: none;
  height: 100%;
  background-color: $color_label;
  padding: 0 16px;
  text-align: center;
  letter-spacing: 1px;
  h3 {
    padding: 15px 0;
    display: inline-block;
    font-weight: bold;
    color: #fff;
  }
}
#chatBot_content {
  //機器人回覆內容
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  height: calc(100% - 175px);
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 16px 0;
  @include chatBot_scrollbar;
  p {
    border-radius: 10px;
    background-color: $color_main1;
    padding: 10px;
    line-height: 1.6em;
    margin: 10px 0;
    position: relative;
    &:after {
      content: '';
      width: 0px;
      height: 0px;
      display: block;
      border-radius: 15px;
    }
  }
  .chatBot_content_A {
    float: left;
    margin-right: 14%;
    &:after {
      content: '';
      width: 100%;
      height: 0;
      display: block;
      clear: both;
    }
    &:before{
      border-top: 15px solid transparent;
      border-bottom:15px solid transparent;
      border-right: 15px solid $color_main1;
      border-left:15px solid transparent;
      position: absolute;
      top: 5px;
      left: -25px;
    }
  }
  .chatBot_content_Q {
    float: right;
    &:after {
      content: '';
      height: 0;
      display: block;
      clear: both;
    }
    &:before{
      border-top: 15px solid transparent;
      border-bottom:15px solid transparent;
      border-right: 15px solid transparent;
      border-left:15px solid $color_main1;
      position: absolute;
      top: 5px;
      right: -25px;
    }
  }
}

.chatBot_keyword {
  padding: 10px 0;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  @include chatBot_scrollbar;
  li {
    display: inline-block;
    margin-left: 5px;
    background-color: $color_hot;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }
}
.chatBot_text_Wrap {
  padding: 16px 0;
  position: relative;
}
#chatBot_search {
  position: absolute;
  right: 10px;
  @include top50-50;
}
.chatBot_text {
  font-size: $fontSize_S;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 10px;
  border: 0;
}
#close_chatBot {
  //checkbox
  display: none;
}
.close_chatBot_pic img {
  //客服雞的圖
  width: $white_point;
  vertical-align: middle;
}
.close_chatBot {
  //機器人開關按鈕
  width: 35px;
  height: 35px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  @include close(50%, 0%) {
    @extend %closeJumpWindow;
    right: 0;
  }
}
#close_chatBot:checked ~ #chatBot{
  top: 100.228px;
}
#close_chatBot:checked ~ #chatBot .close_chatBot_pic img {
  display: none;
}
#close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
  display: block;
  width: auto;
  transition: height 0.4s;
}
@include rwd(sm, float) {
  #chatBot {
    max-width: 380px;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    height: auto;
  }
  .close_chatBot_pic {
    float: right;
    cursor: pointer;
  }
  .chatBot_contenier_wrap {
    width: 0;
    height: 0;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    overflow: hidden;
    .close_chatBot {
      width: 35px;
      height: 35px;
      position: absolute;
      right: 15px;
      opacity: 0;
      cursor: pointer;
      // @include close(50%, 0%) {
      //   @extend %closeJumpWindow;
      //   right: 0;
      // }
    }
  }
  .chatBot_keyword {
    padding: 10px 0;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .chatBot_text {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 0;
  }
  #close_chatBot:checked ~ #chatBot{
    top: auto;
  }
  #close_chatBot:checked ~ #chatBot .close_chatBot {
    opacity: 1;
    transition: 0.8s;
  }
  #close_chatBot:checked ~ #chatBot .close_chatBot_pic img {
    display: block;
  }
  #close_chatBot:checked ~ #chatBot .chatBot_contenier_wrap {
    display: block;
    height: 420px;
  }

}
