.clearfix:after{
	content: '';
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
@mixin container($width,$mt) {
    width: 100%;
    max-width: $width;
    margin: $mt auto; 
    @content;   
}
@function rwdW($px){
	@return $px * 100 /1200 + %;
  }
@function c100($px){
	@return calc( 100% - #{$px}px );
}