//btn
$btn_Wmin: 150px;
$btn_Wmax: 250px;

$btn_Wmin_sm: 200px;
$btn_Wmax_sm: 300px;

@mixin semi-transparent-colors($attribute,$color,$background){ 
  $percent: alpha($color) * 100%; //獲取顏色透明度值，並轉換成百分比 
  $opaque: opacify($color,1); //顏色不透明度1
  $solid-color: mix($opaque,$background,$percent); 
  #{$attribute}: $solid-color; //為不透明顏色，for不支持的瀏覽器 
  #{$attribute}: $color;//為透明顏色，for支持的瀏覽器 
}
@mixin top50-50 {  //哪邊需要top減50的置中
  top: 50%;
  transform: translateY(-50%);
}
@mixin close ($top,$left){
  &::before{
    content: '';
    // @extend %closeJumpWindow;
    top: $top;
    left: $left;
    transform: rotate(-45deg);
    @content;
  }
  &::after{
    content: '';
    // @extend %closeJumpWindow;
    top: $top;
    left: $left;
    transform: rotate(45deg);
    @content;
  }
}