@mixin longin_to_btn {
  width: 50%;
  margin: 15px auto;
  font-size: $fontSize_L;
  // background-color: $color_main1;
  background-color: #fff6;
  border: 4px solid $color_main1;
  display: block;
  text-align: center;
  padding: 6px 0;
  @content;
}
@mixin btn_main1 {
  font-size: $fontSize_L;
  background-color: $color_main1;
  border: 0;
  font-family: $fmy;
  @content;
}

