.search_wrap {
  *{
    box-sizing: border-box;
    // outline: 1px solid #f00;
  }
  input[type="checkbox"]{
    display: none;
  }
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  text-align: center;
  &:after {   //黃色那塊靠下
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .search_bg {  //黃色那塊靠下
    width: 80%;
    height: 80%;
    background-color: $color_main3;
    border-radius:0 0 50px 50px;
    display: inline-block;
    vertical-align: top;
  }
  .input_wrap {   //輸入區
    width: 80%;
    margin: 100px auto 20px;
    font-size: $fontSize_XL;
    position: relative;
    border-radius: 50px;
    border: 2px solid $color_main4;
  }
  #input_search {   //input搜尋內容
    font-size: $fontSize_XL;
    padding-left: 50px;
    width: 100%;
    line-height: 70px;
    border-radius: 50px;
    border: 0;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    &:focus + label,
    &:valid + label {
      top: 0;
      transform: translateY(-150%);
      transition: 0.4s;
      font-size: $fontSize_L;
      cursor: text;
    }
    &:focus {
      //提示字動畫
      border: 0;
      cursor: text;
    }
  }
  .input_pl {   //input的提示字
    position: absolute;
    left: 50px;
    @include top50-50;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
    }
  }
  #start_search {   //搜尋兩個字
    line-height: 70px;
    font-size: $fontSize_XL;
    font-family: $fmy;
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
    border: 0;
    // outline: 0;
    @include top50-50;
    &:hover {
      cursor: pointer;
    }

  }
}
.chickenMaster_wrap{
  width: 30%;
  max-width: 550px;
  position: absolute;
  left: 0;
  bottom: 85px;
  &:after{
    content: '除了關鍵字，可以選擇指定搜尋餐點或飯團，底下篩選還可複選喔!';
    font-size: $fontSize_M;
    line-height: 1.5em;
    width: 60%;
    min-width: 150px;
    padding: 15px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 100%;
  }
  &:before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fff;
    position: absolute;
    right: 65%;
    top: -10px;
    z-index: 1;
    transform: rotate(45deg);
  }
  .chickenMaster{
    width: 100%;
    transform: scaleX(-1);
  }
}

.bookmark{
  text-align: left;
  margin: 50px 0;
  input[type="radio"]{
    display: none;
  }
}
.bookmark_animation{
  text-align: center;
  position: relative;
  label{
    width: 120px;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    margin-left: 120px;
    transform: translateX(-50%);
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:after{
      content: '';
      height: 100%;
      @extend %ib_middle;
    }
  }
  span{
    font-size: $fontSize_XL;
    width: 100%;
    @extend %ib_middle;
    line-height: 120px;
    background-color: #FEFAEA;
    border-radius: 50%;
    transform:  scale(1) ;
    transition: .4s;
  }
  .bookmark_animation1{
    @extend %ball;
    background: transparent;
    width: 180px;
    height: 80px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation: rot 10s infinite;
    z-index: 0;
    &::after{
      content: '';
      @extend %ball;
      border-radius: 47%;
      transform: translate(-50%,-70%);
      @include semi-transparent-colors(background-color,rgba(#FEFAEA,.9),#FEFAEA);
      animation: toBig2 4.5s infinite;
    }
    &::before{
      content: '';
      @extend %ball;
      border-radius: 45%;
      transform: translate(-50%,-70%);
      @include semi-transparent-colors(background-color,rgba(#FEFAEA,.3),#FEFAEA);
      animation: toBig 4.5s infinite;
    }
  }
  .bookmark_animation2{
    @extend %ball;
  }
}

#bookmark_meal:checked ~ .bookmark_animation > #bookmark_animation_meal span{
  // animation: toBig2 .4s forwards;
  transform:  scale(1.5) ;
  transition: .4s;
}
#bookmark_groupon:checked + .bookmark_animation > #bookmark_animation_groupon span{
  // animation: toBig 3s infinite -1.5s;
  // animation: toBig2 .4s forwards;
  transform:  scale(1.5) ;
  transition: .4s;
}



@keyframes toBig  {
  0% {
    transform:  scale(1.7);
  }
  30% {
    transform:  scale(1.5) rotate(360deg);
  }
  50% {
    transform:  scale(1.5) ;
  }
  80% {
    transform:  scale(1) ;
  }
  100% {
    transform:  scale(1.7) rotate(180deg);
  }
  
}
@keyframes toBig2  {
  0% {
    transform:  scale(1.7);
  }
  30% {
    transform:  scale(1.5) rotate(180deg);
  }
  50% {
    transform:  scale(1.5) ;
  }
  80% {
    transform:  scale(1) ;
  }
  100% {
    transform:  scale(1.7) rotate(360deg);
  }
}

@keyframes rot  {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
  
}
.bookmark_meal{
  display: block;
  padding-left: 25%;
  padding-top: 30px;
  height: 100%;
  .bookmark_meal_item{
    width: 100%;
    position: relative;
    span{
      width: 110px;
      padding: 24px 0;
      display: inline-block;
      text-align: center;
      background: transparent;
      font-size: $fontSize_M;
      margin-right: 20px;
      &:after{
        content: '';
        display: block;
        width: 105%;
        height: 5px;
        border-radius: 50px;
        background-color: $color_hot;
        margin: 5px 0;
      }
    }
    div{
      width: 75%;
      @extend %ib_middle;
    }
    label,#meal_Price1,#meal_Price2{
      font-size: $fontSize_S;
      font-weight: bold;
      @extend %ib_middle;
      text-align: center;
      width: 95px;
      padding: 0.5% 0;
      background: #fff;
      border: 1px solid $color_hot;
      border-radius: 50px;
      margin-right: 8px;
      // border: 0;
      cursor: pointer;
    }
    .meal_Cal{
      width: 130px;
    }
    #meal_Price1,#meal_Price2{
      cursor: text;
      position: relative;
    }
  }
}

@for $i from 1 through 6 {
    #mealGenre_No#{$i}:hover ~  .mealGenre_No:nth-of-type(#{$i}){
    background-color: $color_hot;
    color: #fff;

  }
  #mealGenre_No#{$i}:checked ~  .mealGenre_No:nth-of-type(#{$i}){
    background-color: $color_hot;
    color: #fff;

  }
}
@for $i from 1 through 6 {
  #meal_Cal#{$i}:hover ~  .meal_Cal:nth-of-type(#{$i}){
    background-color: $color_hot;
    color: #fff;}
  #meal_Cal#{$i}:checked ~  .meal_Cal:nth-of-type(#{$i}){
    background-color: $color_hot;
    color: #fff; }
}
@include rwd(sm,float){

}
