.search_wrap {
  *{
    box-sizing: border-box;
    outline: 1px solid #f00;
  }
  input[type="checkbox"]{
    display: none;
  }
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100.228px;
  left: 0;
  text-align: center;
  &:after {   //黃色那塊靠下
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
  .search_bg {  //黃色那塊靠下
    width: 80%;
    height: 90%;
    background-color: $color_main3;
    border-radius: 50px;
    display: inline-block;
    vertical-align: bottom;
  }
  .input_wrap {   //輸入區
    width: 80%;
    margin: 100px auto 20px;
    font-size: $fontSize_XXL;
    position: relative;
    border-radius: 50px;
    border: 2px solid $color_main4;
  }
  #input_search {   //input搜尋內容
    font-size: $fontSize_XXL;
    padding-left: 50px;
    width: 100%;
    height: 98px;
    border-radius: 50px;
    border: 0;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    &:focus + label,
    &:valid + label {
      top: 0;
      transform: translateY(-150%);
      transition: 0.4s;
      font-size: $fontSize_XL;
      cursor: text;
    }
    &:focus {
      //提示字動畫
      border: 0;
      cursor: text;
    }
  }
  .input_pl {   //input的提示字
    position: absolute;
    left: 50px;
    @include top50-50;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
    }
  }
  #start_search {   //搜尋兩個字
    height: 98px;
    font-size: $fontSize_XXL;
    font-family: $fmy;
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
    border: 0;
    // outline: 0;
    @include top50-50;
    &:hover {
      cursor: pointer;
    }
    .search_img { //搜尋內的小雞雞
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 3px solid #333333;
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 0;
      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 3px;
        background-color: #333333;
      }
    }
  }
}
#bookmark_meal:checked ~ .bookmark_animation #bookmark_animation_meal,
#bookmark_groupon:checked ~ .bookmark_animation #bookmark_animation_groupon {
  background-color: #000;
}
.bookmark{
  text-align: left;
}
.bookmark_animation{
  text-align: center;
  label{
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
    &:after{
      content: '';
      height: 100%;
      @extend %ib_middle;
    }
  }
  span{
    font-size: 48px;
    width: 100%;
    padding-bottom: 67%;
    @extend %ib_middle;
    border-radius: 50%;
    background-color: #fff9;
  }
}

.bookmark_meal{
  display: block;
  padding-left: 25%;
  height: 100%;
  .bookmark_meal_item{
    width: 100%;
    position: relative;
    span{
      width: 110px;
      padding: 24px 0;
      display: inline-block;
      text-align: center;
      background: transparent;
      font-size: $fontSize_M;
      margin-right: 20px;
      &:after{
        content: '';
        display: block;
        width: 105%;
        height: 5px;
        border-radius: 50px;
        background-color: $color_hot;
      }
    }
    label,#meal_Price1,#meal_Price2{
      font-size: $fontSize_S;
      display: inline-block;
      text-align: center;
      width: 95px;
      padding: 0.5% 0;
      background: #fff;
      border-radius: 50px;
      margin-right: 8px;
      border: 0;
      cursor: pointer;
    }
    #meal_Price1,#meal_Price2{
      cursor: text;
      position: relative;
    }
  }
}
#meal_Price1:after{
  content: '';
  width: 5535px;
  height: 552px;
  display: block;
  top: 0;
  left: 0;
  background-color: #000;
}
@for $i from 1 through 6 {
    #mealGenre_No#{$i}:hover ~  .mealGenre_No:nth-of-type(#{$i}){
    background-color: $color_hot;
  }
  #mealGenre_No#{$i}:checked ~  .mealGenre_No:nth-of-type(#{$i}){
    background-color: $color_hot;
  }
}
@for $i from 1 through 6 {
  #meal_Cal#{$i}:hover ~  .meal_Cal:nth-of-type(#{$i}){
    background-color: $color_hot;
  }
  #meal_Cal#{$i}:checked ~  .meal_Cal:nth-of-type(#{$i}){
    background-color: $color_hot;
  }
}