@import "daycookMixin";
@import "daycookVar";
@import "general_mixins";

*{
    // outline: 1px solid #f00;
    font-size: $fontSize_text;
    font-family: $fmy;
    text-align: center;
}

.out{ 
    height: 93vh;
    margin: 30px 50px; 

    a{
        text-decoration: none;
        color: $color_main2;
    }

    .back-nav{
        .back-logo{ 
            padding-top: 30px;
            border: 1px solid rgba(0,0,0,.125); 
            border-bottom: none;
            border-radius: 10px 10px 0 0;
        }
        .back-signout{ 
            padding: 50px 0;
            border: 1px solid rgba(0,0,0,.125);
            border-top: none;
            border-radius: 0 0 10px 10px;
            font-size: $fontSize_M;
            font-weight: bold;

            a{ padding: 20px; }
        }

        .back-change-btn{
            border-radius: 10px;

            &:hover{ background-color: $color_main3; }
        }
    }

    .back-text{
        height: 93vh;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 10px;

        .banner{ 
            width: 100%;
            height: 34vh;
            padding-top: 20px;
            background-image: url("../images/客服G8稜-01.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font-size: $fontSize_L; 
            position: relative;
        }

        @include main-BTN(80px);
        .mainBTN{
                margin: 0 20px 20px 93%;
                border: 1px solid rgba(0,0,0,.125);
                position: absolute;
                right: 0;
                bottom: 0;
                
                &:active { top: auto; }

            // &:hover{
            //     box-shadow: 0 2px $color_main2;
            //     transform: translateY(2px);
            //     transition: transform 2s box-shadow 2s;
            // }
        }

        img{ width: 80px; }

        tr{
            th,td{ 
                border-bottom: 1px solid rgba(0,0,0,.125);
                vertical-align: middle; 
            }
        }

        .back-page{
            li{ padding: 10px; }
        }
    }
}
