@import "_daycookVar";
@import "general_mixins";
@include nextAndCancel-BTN(200px);
@include main-BTN(200px);
@include sub-BTN(200px);
@include plusAndMinus-BTN();


body{
	width: 1200px;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
}
td{
	border: 1px solid #000;
	width: 300px;
	height: 100px;
	text-align: center;

}
div{
	display: inline-block;
}
.mainBTN.v2{
	z-index: 1;
	transition: 1s;
	box-shadow: 0 0 0 0;
	height: 40px;
	&:hover{
		opacity: 1;
		transition: 1s;
		.wrap .mainBall{
			top: -40%;
		}
	}
}
.wrap{
	width: 200px;
	height: 40px;
	border-radius: 50px;
	overflow: hidden;
	position: absolute;
	left: 0;
	filter: url(#goo);
	z-index: -1;
	.mainBall{
		width: 100px;
		height: 70px;
		background-color: rgb(255, 200, 83);
		position: absolute;
		border-radius: 50%;
		top: 105%;
		z-index: 1;
		// border-radius: 50px 40px 10px 50px / 50% 60% 60% 50%;

	}
	.b1{
		left: -15%;
		transition: 1.2s;
	}
	.b2{

		left: 50%;
		transform: translateX(-50%);
		transition: 1s;
	}
	.b3{
		left: 60%;
		transition: 1.5s;
	}	
}

.subBTN.v2{
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
	.subBall{
		position: absolute;
		top: auto;
		left: auto;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		background-color: rgb(184, 107, 40);
		transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	&:hover {
		color: tint(rgb(184, 107, 40), 75%);
		opacity: 1;
		.subBall {
			height: 500px;
			width: 500px;
		}
	}
}
.cancelBTN.v2{
	z-index: 5;
	transition: 0;
	&:hover{
		opacity: 1;
		.cancelBall{
			width: 65px;
			height: 65px;
			transform: translate(-50%, -50%);
		}
	}
	.wrap{
		background-color: rgb(255, 200, 83);
		overflow: visible;
		filter: url(#goo);
	}
	.cancelBall{
		width: 40px;
		height: 30px;
		// background-color: #000;
		background-color: rgb(255, 200, 83);
		position: absolute;
		top: 0;
		left: 50%;
		border-radius: 50%/ 60% 40% 60% 40% ;
		transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
		transform: translate(-50%, 0%);
		z-index: -1;
		transition: .2s;
	}
}