@import "daycookMixin";
@import "daycookVar";
@import "nav";

// 共用
//間距
$space_lr: 0 16px;     //手機左右
$space_sm_lr: 0 30px;  //平板左右

*{ 
    // outline: 1px solid #f00;
    font-size: $fontSize_text;
    color: $color_txt;
    box-sizing: border-box;
}

body{ 
    font-size: $fontSize_text;
    font-family: $fmy; 
}

.wrapper{ 
    width: 100%; 
    padding: $space_lr;
    margin-bottom: 30px;
    line-height: $lineHeight;

    img,a,span{ display: block; }

    img{ width: 100%; }

    a{ text-decoration: none; }

    .fl{ float: left; }

    .font_blod{ font-weight: bold; }

    input,button{ border: none; }
    
    h2{ font-size: $fontSize_L; }

    .font-blod{ font-weight: bold;}
}

// 共用結束

// 麵包屑
.breadcrumbs{
    margin-top: 60px;
    a{
        vertical-align: middle;

        &:hover{ color: $color_main4; }
        &:before{
            content: '\203A';
            padding: 0 5px;
            color: $color_txt;
        }
        
        &:first-child:before{ display: none; }
    }
}
// 麵包屑結束

//產品介紹
.banner-pic{
    position: relative;
    z-index: -1;

    .like{
        background-color: transparent;
        position: absolute;
        right: 0;
        bottom: 0;

    }
}

.banner-txt{
    margin-top: 25px;

    .product{
        span{ margin-left: 20px; }
    }
}

.score{
    margin-top: 15px;

    .score-text{ 
        margin-right: 25px;
        font-size: $fontSize_S; 
    }

    .grade{
        span{ 
            width: 25px; 
            margin-right: 10px;
        }
    }
}

.price{ 
    margin-top: 20px;
    font-size: $fontSize_M;
}

.content{ 
    margin-top: 20px; 

    .content-top{
        span{ 
            margin-right: 25px; 
            font-size: $fontSize_S;
        }

        .kcal{
            span{ 
                margin-right: 10px; 
                font-size: $fontSize_text;
                line-height: $fontSize_S * $lineHeight;
            }
        }
    }

    p{ margin-top: 15px; }
}

.count{
    margin-top: 50px; 

    .count-qty{
        span{ 
            height: ($fontSize_S + 5px) * $lineHeight;
            margin-right: 25px;
            font-size: $fontSize_S; 
            line-height: ($fontSize_S + 5px) * $lineHeight;
        }
    }

    .count-input{
        input{ 
            margin-right: 10px;
            height: ($fontSize_S + 5px) * $lineHeight; 
        }

        .qty-width{ 
            width: ($fontSize_S + 5px) * $lineHeight;
            border-radius: 25px;
            background-color: $color_main1;
            box-shadow: 0 4px $color_main4;

            &:hover{
                box-shadow: 0 2px $color_main4;
                transform: translateY(2px);
                transition: box-shadow 0.3s , transform 0.3s;
            }
        }

        .qty{ 
            width: 100px;
            border: 1px solid #aaa;
            text-align: center; 

            &:focus{ background-color:$color_main3; }
        }

        .qty-add{ margin-right: 0px; }
    }

    .count-button{
        margin-top: 50px;
        position: relative;

        button{
            width: 45%;
            height: ($fontSize_S + 5px) * $lineHeight; 
            border-radius: 25px;
            background-color: $color_main1;
            box-shadow: 0 4px $color_main4; 

            &:hover{
                box-shadow: 0 2px $color_main4;
                transform: translateY(2px);
                transition: box-shadow 0.3s , transform 0.3s;
            }
        }

        .add-cart{
            position: relative;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        .go-cart{
            position: absolute;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
//產品介紹結束

//留言板
.title{
    margin: 80px 0 50px;
    font-size: $fontSize_XL; 
    text-align: center
}

.member-msg{
    margin-top: 30px;
        padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;

    .member-txt{
        .member-letter{ 
            width: 100%; 
            height: ($fontSize_S + 5px) * $lineHeight;
            margin-top: 15px;
            border: 1px solid #aaa;
        }

        .comments{
            padding: 0 10px;
            height: ($fontSize_S + 5px) * $lineHeight; 
            margin-top: 20px;
            border-radius: 25px;
            background-color: $color_main1;
            box-shadow: 0 4px $color_main4; 
            float: right;
            
            &:hover{
                box-shadow: 0 2px $color_main4;
                transform: translateY(2px);
                transition: box-shadow 0.3s , transform 0.3s;
            }
        }
    }
}
//留言板結束

@include rwd(sm,float) {  //768px
    // 共用
    .wrapper{ 
        padding: $space_sm_lr;
        margin-bottom: 50px;
    }
    // 共用結束

    //產品介紹
    .banner-pic{
        .like{ font-size: $fontSize_M; }
    }

    .banner-txt{ margin-top: 35px; }

    .score{
        margin-top: 25px;

        .score-text{ margin-right: 40px; }

        .grade span{ margin-right: 20px; }
    }

    .price{ margin-top: 30px; }

    .content{ 
        margin-top: 30px; 

        .content-top{
            span{ margin-right: 40px;  }
        }

        p{ margin-top: 25px; }
    }

    .count{
        .count-qty{
            padding: 0;
            span{ 
                height:($fontSize_S + 10px) * $lineHeight;
                margin-right: 40px; 
                line-height:($fontSize_S + 10px) * $lineHeight;
            }
        }

        .count-input{
            input{ height: ($fontSize_S + 10px) * $lineHeight; }

            .qty-width{ width: ($fontSize_S + 10px) * $lineHeight; }

            .qty{ width: 100px; }
        }
    
        .count-button{
            margin-top: 0px;
            padding: 0;
    
            button{ height: ($fontSize_S + 10px) * $lineHeight; }
        }
    }
    //產品介紹結束

    //留言板
    .title{ margin: 100px 0 80px; }

    .member-msg{
        .member-txt{
            .member-letter,.comments{ margin-top: 15px;}
        }
    }
    //留言板結束
}

@include rwd(md,float) {  //1024px
    //產品介紹
    .banner-pic{
        padding: 0 15px 0 0;

        .like{ right: 30px; }
    }
    
    .banner-txt{ 
        margin-top: 0px; 
        padding: 0 0 0 15px;
    }
    
    .score{
        margin-top: 15px;
    
        .score-text{ margin-right: 25px; }
    }
    
    .price{ margin-top: 20px; }
    
    .content{ 
        margin-top: 20px; 
    
        p{ margin-top: 15px; }
    }

    .count{
        .count-qty{
            span{ 
                height:($fontSize_S + 5px) * $lineHeight;
                margin-right: 25px; 
                line-height:($fontSize_S + 5px) * $lineHeight;
            }
        }
        .count-input{
            input{ 
                margin-right: 5px;
                height: ($fontSize_S + 5px) * $lineHeight;  
            }

            .qty-width{ width: ($fontSize_S + 5px) * $lineHeight; }

            .qty{ width: 50px; }
        }

        .count-button{
            button{ 
                height: ($fontSize_S + 5px) * $lineHeight; 
                font-size: 15px;
            }
        }
    }
}
@include rwd(lg,float) { //1200px
    .wrapper{ 
        width: 1200px; 
        padding: 0;
        margin: auto;
        margin-bottom: 50px;
    }    
    
    .count{
        .count-button{
            button{ font-size: $fontSize_text; }
        }
    }
}