@import "daycookVar";
@import "reset";
@import "layout/daycookMixin";
@import "keVar&Mixin";
@import "chatBot";//客服機器人
@import "serach"; //搜尋

// html, body {
//     overflow-x: hidden;
//     overflow-y: hidden;
// }

// 以下是動畫區
#close_login{	//將導覽列的登入註冊input隱藏
	display: none;
}
.to_sigin,.to_sigup,.to_get_Psw{	//將跳窗內的input隱藏
	display: none;
}
#to_sigin:checked ~ .to_sigin,
#to_sigup:checked ~ .to_sigup,
#to_get_Psw:checked ~ .to_get_Psw{	//登入註冊換頁按鈕
	display: block;
}
#to_sigin:checked ~ .login_mark .sig_in,
#to_sigup:checked ~ .login_mark .sig_up{	//頁籤的粗底線
	color: #333333;
	border-bottom: 10px solid $color_main1;
	transition: .4s;
}

#close_login:checked ~ #login_wrap { //關閉跳窗
	display: none;
}
.close_login{	//叉叉按鈕
	width: 70px;
	height: 70px;
	background-color: $color_main1;
	border-radius: 50% 0 0 50%;
	position: absolute;
	left: calc(100% - 55px );
	top: -35px;
	@include close(90%, 55%){
		border-radius: 50px;
	};
	z-index: 10;
}
.input_mem{	
	transition: 0.4s;
	outline: 0;
	&:invalid{
		  border-bottom: 2px solid $color_main1;
	}
	&:focus{
        border: 0;
		margin-right: -10px;
		transition: 0.4s;
		padding: 0 15px 0 45px;
	  }
	&:valid {
		margin-right: -10px;
		padding: 0 15px 0 45px;
		transition: 0.4s;
	}
      &:focus ~ label,
      &:valid ~ label {
		left: -45px;
		transition: 0.4s;
		font-size: $fontSize_text;
	  }
	  &:focus ~ label> img{
		left: 55px;
		transition: 0.4s;
	  }
	  &:valid ~ label> img{
		left: 55px;
		transition: 0.4s;
	  }

}

//以上是動態區

.login_wrap{
	*{
		box-sizing: border-box;
		font-size: $fontSize_text;
		font-weight: bold;
		color: #333333;
		// outline: 1px solid #f00;
	}
	input[type="radio"]{
		display: none;
	}
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	@include semi-transparent-colors(background-color,rgba($color_main3,1),$color_main3);
	border: 10px solid $color_main1;
	position: absolute;
	top: 140px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 3;
}
.login_heard{
	height: 20%;
}
.login_mark{
	text-align: center;
	padding: 50px 0 15px; 
	label{
		width: 50%;
		float: left;
		padding: 15px 0;
		font-size: $fontSize_M;
		border-bottom: 10px solid #0003;
		color: #0008;
	}
}
.longing_input{
	width: 60%;
	margin: auto;
	text-align: center;
	padding: 15px 0;
	position: relative;
	*{
		vertical-align: middle;
	}
	img{
		width: 25px;
		height: 25px;
		position: absolute;
		@include top50-50;
		left: 45px;
		opacity: .5;
		transition: 0.4s;
	}
	input{
		width: 100%;
		height: 36px;
		border-radius: 50px;
		border: 0;
		background: #fff9;
	}
	label{
		font-size: $fontSize_text;
		position: absolute;
		left: 15px;
		@include top50-50;
		opacity: .7;
		transition: 0.4s;
	}
}
.longing_input{
	.check{
		left: calc(100% + 25px);
		display: none;
	}
	.eye{
		left: calc(100% - 45px);
		display: none;
	}
}
.login_placeholder{
	padding: 2px 5px;
	border: 2px solid  $color_main1;
	background-color: $color_main1;
	border-radius: 5px;
	position: absolute;
	top: -12px;
	right: 0;
	z-index: 1;
	&:after{
		content: '';
		width: 15px;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 15px solid transparent;
		border-right: 15px solid $color_main1;
		position: absolute;
		left: 0;
		z-index: -1;

	}
}
.cover_run_wrap{
	text-align: center;
	padding: 45px 0;
	button{
		width: 65%;
		height: 36px;
		font-size: $fontSize_M;
		font-family: $fmy;
		border-radius: 50px;
		border: 0;
		background-color: $color_main4;
		box-shadow: 2px 5px 0px $color_main2;
		transition: .2s;
		color: #fff9;
		&:hover{
			box-shadow: 0px 0px 0px $color_main2;
			transform: translate(2px,5px);	
			transition: .4s;		
		}
	}
}
.to_sigup{
	.cover_run_wrap{
		padding: 32px 0;		
	}
}


.cover_run.to_Psw{
	width: 100%;
	padding: 4px 0;
	display: inline-block;
	text-align: center;
	font-size: $fontSize_S;
	color: $color_label;
}
@include rwd(sm,float){
	.close_login{	//叉叉按鈕
		width: 70px;
		height: 70px;
		background-color: $color_main1;
		border-radius: 50% 0 0 50%;
		position: absolute;
		left: calc(100% - 55px );
		top: -35px;
		border-radius: 50px;
		z-index: 10;
		&:after{
			transform: translate(-10%,-10px) rotate(45deg);
		}
		&:before{
			transform: translate(-10%,-10px) rotate(-45deg);
		}
	}
	#to_sigin:checked ~ .login_mark .sig_in,
	#to_sigup:checked ~ .login_mark .sig_up{	//頁籤的粗底線
		color: #333333;
		border-bottom: 20px solid $color_main1;
		transition: .4s;
	}
	
	.btn_cup{	//表示可按鈕的手指鼠標
		cursor: pointer;
	}
	.close_login{	//叉叉按鈕
		border-radius: 50%;
		left: 100%;
		top: -35px;
	}
	.input_mem{	
	
		&:focus{
			cursor: text;
			margin-right: -20px;
			margin-left: auto;
		  }
		&:valid {
			margin-right: -20px;
		}
		  &:focus ~ label,
		  &:valid ~ label {
			left: -35px;
		  }
	
	
	}
	
	//以上是動態區
	
	.login_wrap{
	
		width: 320px;
		height: 640px;
		overflow-x: inherit;
		overflow-y: inherit;
		border: 20px solid $color_main1;
		border-radius: 50px;
		position: fixed;
		top: 100px;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		z-index: 3;
	}
	.login_heard{
		height: 25%;
		border-radius: 50px 50px 0 0;
	}
	.login_mark{
		padding: 15px 0; 
		label{
			font-size: $fontSize_L;
			border-bottom: 20px solid #0003;
		}
	}
	.longing_input{
		input{
			border-radius: 50px;
		}
	}


	.cover_run_wrap{
		button{
			width: 70%;
		}
	}
}