@import "daycookVar";
@import "reset";
@import "layout/daycookMixin";
@import "loginVar&Mixin";
@import "keVar&Mixin";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// outline: 1px solid #f00;
}
.longing_logo{
  display: none;
}
.longing_wrap{  //登入註冊滿版外圍
  // display: none;
	width: 100%;
	height: 100%;
	// overflow: hidden;
	transition: .4s;
	// background-color: rgba($color_main3,.7);
	@include semi-transparent-colors(background-color,rgba($color_main3,.9),$color_main3);
  position: fixed;
  top: 100.228px;
  left: 0;
	&_content{  //登入註冊置中框，顯示畫面區
    width: 100%;
    height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
    margin: auto;
    &_cover{  //放內容的空間區
      width: 200%;
      height: 200%;
      .part-6{  //內容的外層
	    	padding: 0 16px;
        height: 50%;
        position: relative;
        top: 0;
        left: 0;
        transition: .2s;
      }
      input[type="radio"],
      #sigup_go{  //畫面切換的控制器
        display: none;
      }
      .cover_run{ //畫面切換的控制器label
        font-size: $fontSize_text;
      }
      button{ //各自頁的button按鈕
        width: 50%;
        margin: auto;
        font-size: $fontSize_L;
        background-color: $color_main1;
        border: 0;
        display: block;
        font-family: $fmy;
      }
    }
  }	

}
#to_get_Psw:checked ~ .get_Psw,
#to_get_Psw:checked ~ .sigin{ //登入頁的忘記密碼左來
  left: -50%;
  transition: .4s;
}
#to_sigup:checked ~ .sigup,
#to_sigup:checked ~ .sigin,
#to_sigup:checked ~.get_Psw{ //登入頁的註冊上來
  top: -50%;
  transition: .9s;
}
#to_sigup:checked ~ .sigin .to_sigup{ //登入頁的"註冊"下來動畫
  top: 140px;
  background-color: #fff0;
  border: 0;
  transition: background-color .4s, top .7s;
}
.input_wrap{  //input跟其他組合的外層
  position: relative;
  margin: 0 auto 36px;
  width: 80%;
  label{
    font-size: $fontSize_S;
  }
  .input_mem{  //input會員相關的class都取這個
    width: 100%;
    height: 36px;
    border-radius: 50px;
    border: 0;
    padding-left: 60px;
    &:focus {   //提示字動畫
      border: 0;
    }
    &:focus + label,
    &:valid + label{
      top: -12px;
      transition: .4s;
      font-size: $fontSize_text;
    }
  }
  .input_pl{  //提示字預設位置
    position: absolute;
    left: 60px;
    @include top50-50();

  }
  img{  //icon
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    @include top50-50();
  }
  .check_ture,
  .check_false{ //勾勾跟叉叉icon
    width: 15px;
    height: 15px;
    left: 105%;
    @include top50-50();
  }
  .eye{ //密碼顯示icon
    @include top50-50();
    left: calc(100% - 45px);
    width: 20px;
  }

}
.longing_heard{   //登入logo && 返回button && title
	padding: 30px 0 40px;
	.btn_to_sigin{  //返回button外層
		position: relative;
    .cover_run{  //切換畫面label
      padding: 5px 10px;
      background-color: $color_main3;
      border: 3px solid $color_main1;
      border-radius: 50px;
    }
    span{  //標題字
      font-size: $fontSize_L;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      margin: auto;
    }
	}
}
.sigin{   //登入頁面
  position: relative;
  .longing_heard{
    padding: 20px;
  }
  .cover_run{   //忘記密碼跟註冊的label
    text-align: center;
    display: block;
  }
  .to_sigup{  //註冊label
    @include longin_to_btn{
      position: relative;
      top: 0;
    }
  }
}
.get_Psw{   //忘記密碼頁面
  .email_pic{
    margin: 0 0 36px;
    img{
      width: 50px;
      height: 50px;
    }
    img:nth-child(1){
      position: relative;
      left: 50%;
      top: 15px;
      transform: translateX(-90%);
    }
    img:nth-child(2){
      position: relative;
      left: 50%;  transform: translateX(-100%);
    }
  }
  p{
    text-align: center;
    padding: 0px 0 10%;
  }
}


.sigup{   //註冊
  position: relative;
  transition: .4s;
  top: 0;
  left: 0;
  span{  
    font-size: 15px;
    position: absolute;
    width: 100%;
    left: 15px;
    top: 105%;
  }
  .sigup_go{  //submit的label
    @include longin_to_btn {
      background-color: $color_main1;
    }
  }
  #sigup_go:checked ~ .sigup{
    left: -50%;
    transition: .4;
  }
}

@include rwd(sm,float) { 
  .longing_logo{
    display: block;
    width: 15%;
    position: fixed;
    top: calc(100px + 2%);
    left: 50%;
    transform: translateX(-47%);
  }
  .longing_wrap{  //登入註冊滿版外圍
    z-index: 5;
    top: 0;
    &_content{  //登入註冊置中框，顯示畫面區
      height: 100%;
      top: 70%;
      left: 0;
      right: 0;
      &_cover{  //放內容的空間區
        width: 200%;
        height: 200%;
        .cover_run{ //畫面切換的控制器label
          font-size: $fontSize_M;
        }
        button{ //各自頁的button按鈕
          width: 20%;
          font-size: $fontSize_XL;
          background-color: $color_main1;
          border: 0;
          display: block;
          font-family: $fmy;
          min-width: $btn_Wmin_sm;
        }
      }
    }	
  }

  .input_wrap{  //input跟其他組合的外層
    width: 20%;
    min-width: $btn_Wmin_sm;
    label{
      font-size: $fontSize_S;
    }
    .input_mem{  //input會員相關的class都取這個
      height: 50px;
      padding-left: 60px;
      &:focus + label,
      &:valid + label{
        font-size: $fontSize_S;
      }
    }
    .check_ture,
    .check_false{ //勾勾跟叉叉icon
      width: 30px;
      height: 30px;
    }
  }

  .longing_heard{   //登入logo && 返回button && title
    width: 30%;
    margin: auto;
    padding: 30px 0 40px;
    .btn_to_sigin{  //返回button外層
      span{  //標題字
        font-size: $fontSize_XL;
      }
    }
  }
  .sigin{   //登入頁面
    position: relative;
    .longing_heard{
      padding: 20px;
    }
    .to_sigup{  //註冊label
        width: 20%;
        min-width: $btn_Wmin_sm;
        font-size: $fontSize_L;
    }
  }
  .get_Psw{   //忘記密碼頁面
    .email_pic{
      margin: 0 0 36px;
      img{
        width: 100px;
        height: 100px;
      }
    }
    p{
      text-align: center;
      padding: 0px 0 3%;
      font-size: $fontSize_M;
    }
  }
  .sigup{   //註冊
    span{  
      font-size: $fontSize_S;
    }
    .sigup_go{  //submit的label
        width: 20%;
        min-width: $btn_Wmin_sm;
        margin: 60px auto;
    }
  }

 }
 @include rwd(lg,float){
  .input_wrap{  //input跟其他組合的外層
    label{
      font-size: $fontSize_M;
    }
    .input_mem{  //input會員相關的class都取這個
      height: 50px;
      padding-left: 60px;
      &:focus + label,
      &:valid + label{
        font-size: $fontSize_S;
      }
    }
    .check_ture,
    .check_false{ //勾勾跟叉叉icon
      width: 30px;
      height: 30px;
    }
  }

 }