@import "daycookVar";
@import "reset";
@import "layout/daycookMixin";
@import "keVar&Mixin";
@import "searchVar&Mixin";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// outline: 1px solid #f00;
}

.search_wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100.228px;
	left: 0;
	text-align: center;
	&:after{
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: bottom;
	}
	.search_bg{
		width: 80%;
		height: 90%;
		background-color: $color_main3;
		border-radius: 50px;
		display: inline-block;
		vertical-align: bottom;
	}
	.input_wrap{
		width: 80%;
		margin:100px auto 20px;
		font-size: $fontSize_XXL;
		position: relative;
		border-radius: 50px;
		border: 2px solid $color_main4;
	}
	#input_search{
		font-size: $fontSize_XXL;
		padding-left: 50px;
		width: 100%;
		height: 98px;
		border-radius: 50px;
		border: 0;
		outline: none;
		&:hover{
			cursor: pointer;
		}
		&:focus + label,
		&:valid + label{
		top: 0;
		transform: translateY(-150%);
		transition: .4s;
		font-size: $fontSize_XL;
		cursor: text;
		}
		&:focus {   //提示字動畫
			border: 0;
			cursor: text;
		}
	}
	.input_pl{
		position: absolute;
		left: 50px;
		@include top50-50;
		transition: .4s;
		&:hover{
			cursor: pointer;
		}
	}
	#search{
		height: 98px;
		font-size: $fontSize_XXL;
		font-family: $fmy;
		position: absolute;
		top: 50%;
		right: 50px;
		background: #fff;
		border: 0;
		// outline: 0;
		@include top50-50;
		&:hover{
			cursor: pointer;
		}
		.search_img{
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 3px solid #333333;
			background-color: transparent;
			position: absolute;
			right: 0;
			top: 0;
			&:after{
				content: '';
				position: absolute;
				width: 10px;
				height: 3px;
				background-color: #333333;
			}
		}
	}
}

