@import "_daycookVar";
@import "general_mixins";
@include nextAndCancel-BTN(200px);
@include main-BTN(200px);
@include sub-BTN(200px);
@include plusAndMinus-BTN();


body{
	width: 1200px;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
}
td{
	border: 1px solid #000;
	width: 300px;
	height: 300px;
	text-align: center;
	filter: url(#goo);

}
div{
	display: inline-block;
}
.mainBTN{
	// overflow: hidden;
	z-index: 1;
	transition: 1s;
	box-shadow: 0 0 0 0;
	&:hover{
		opacity: 1;
		color: #fff;
		transition: 1s;
	}
	&:hover .mainBall{
		top: -100%;
		transition: 1s;
	}
	.mainBall{
		width: 120px;
		height: 120px;
		background-color: $color_main2;
		position: absolute;
		top: 140%;
		border-radius: 50%;
		z-index: -1;

	}
	.b1{
		left: -25%;
		transition: 1.2s;	}
	.b2{
		left: 50%;
		transform: translateX(-50%);
		transition: 1s;
	}
	.b3{
		left: 60%;
		transition: 1.5s;
	}
}
