//變數
@import "daycookVar";
$color_main1: #FCE444; //小雞黃 / yellow / #FCE444 ;
$color_main2: #76391B; //褐色 / brown / 7#6391B ;
$color_main3: #FCF2CA; //淡黃色 / lightYellow / #FCF2CA;
$color_main4: #BB7232; //淡褐色 / lightBrown / #BB7232;
$white: #fff;
$black: #000;
$searchHeight: 40px;
$fz18: 18px;
$borderRadius: 1000px;
$grouponBr: 20px;
$boxshadow: 0 4px 0 $color_main4;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    // outline: 1px red solid;
}

.searchBtn {
    width: 80px;
    height: $searchHeight;
    margin: auto;
    font-size: 18px;
    color: $black;
    background-color: $white;
    border-radius: $borderRadius;
}

.indexTitle {
    padding: 10vh 0 2vh;
    text-align: center;
    font-size: 32px;
    color: brown;
}

.indexsubTitle {
    width: 80%;
    // padding: 50px 0;
    text-align: center;
    font-size: 18px;
    color: brown;
}

.nav {
    width: 100%;
    height: 60px;
    background-color: $black;
    position: fixed;
    z-index: 10;
}


@media screen and (min-width: 1200px) {
    .nav {
        height: 150px;
    }
}

.section {
    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
        attachment: fixed;
    }
}

.container {
    margin: auto;
}

.mainBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    border-radius: $borderRadius;
    background-color: $color_main1;
    box-shadow: $boxshadow;
}

.joinBtn {
    opacity: 1;
    cursor: pointer;
    border: 10px solid rgba(255, 255, 255, .5);
    transition:
        .5s background-color ease,
        .2s border ease;
    border-radius:
        calc(var(--x) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--x) / var(--size) * 100%) / calc(var(--y) / var(--size) * 100%) calc(var(--y) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%)
}

//第一屏
.indexSearch {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../images/background.png');

    .indexSearch-searchBar {
        padding: 180px 0;

        form {
            width: 70%;
            max-width: 600px;
            height: $searchHeight;
            margin: auto;
            padding: 5px 10px;
            border-radius: $borderRadius;
            border: 6px solid $color_main2;
            background-color: $color_main1;
            position: relative;

            button:nth-child(1) {
                font-size: 18px;
                padding: 8px 8px;
                margin: 0px 0 0 -5px;
                border-radius: $borderRadius;
                border: none;
                background-color: $color_main2;
                color: $white;
                letter-spacing: 1px;
            }

            input[type="text"] {
                width: 50%;
                background-color: transparent;
                border: none;
                font-size: 18px;
            }

            .indexSearch-btn {
                width: 41px;
                height: 41px;
                font-size: 18px;
                @extend button:nth-child(1);
                position: absolute;
                top: 5px;
                right: 6px;
            }
        }
    }

    .indexSearch-conveyor {
        .indexSearch-conveyorBox {
            width: 300%;
            overflow-x: hidden;
            position: absolute;
            bottom: 8vh;
            left: 0;

            .indexSearch-table {
                img {
                    width: 100%;
                    display: inline-block;
                    height: 240px;
                }

                .indexSearch-meal {
                    display: inline-block;
                    position: absolute;
                    bottom: 110px;
                    left: 0;

                    img {
                        display: inline-block;
                        width: 13%;
                        min-height: auto;
                        max-width: auto;
                        max-height: 130px;
                        height: auto;
                        margin: auto 1vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .indexSearch {
        .indexSearch-searchBar {
            padding: 250px 0;
        }

        .indexSearch-conveyor {
            .indexSearch-conveyorBox {
                width: 100%;
                position: absolute;
                bottom: 10vh;
                left: 0;

                .indexSearch-table {
                    img {
                        width: 100%;
                        display: inline-block;
                        min-height: 200px;
                    }

                    .indexSearch-meal {
                        position: absolute;
                        bottom: 110px;
                        text-align: center;

                        img {
                            display: inline-block;
                            width: 13%;
                            min-height: auto;
                            height: auto;
                            margin: auto 2%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .indexSearch {
        height: calc(100vh - 150px);
        background-image: url(../images/background0.png);
        background-position: bottom;
    }
}

//第二屏 從缺

//第三屏
.indexJoin {
    width: 100%;
    height: calc(100vh - 60px);
    // background-image: url('../images/backgroundegg.png');
    // position: relative;

    .container {
        .indexJoin-container {
            width: 100%;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);

            .indexJoin-title {
                padding: 20px 0 0;

                h1 {
                    @extend .indexTitle;
                }
            }

            .indexJoin-phoneBox {
                .indexJoin-phone {
                    width: 197px;
                    height: 350px;
                    margin: 0 auto;
                    background-image: url(../images/phone.svg);
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;

                    .indexJoin-info {
                        font-size: 16px;
                        padding: 80px 28px 0;
                        text-align: center;
                    }

                    .indexJoin-stepOrigin {
                        .indexJoin-stepO1 {
                            img {
                                width: 100px;
                                position: absolute;
                                right: -20px;
                                bottom: 0;
                                animation: stepO1 1s .5s infinite alternate;
                            }

                            @keyframes stepO1 {
                                0% {
                                    bottom: 0px;
                                }

                                100% {
                                    bottom: 150px;
                                }
                            }
                        }

                        .indexJoin-stepO2 {
                            @keyframes stepO2-btn {
                                0% {
                                    background-color: $color_main1;
                                    box-shadow: $boxshadow;
                                }

                                100% {
                                    background-color: $color_main4;
                                    box-shadow: 0 4px 0 $color_main1;
                                    color: $white;
                                }
                            }

                            .indexJoin-stepO2-btn {
                                @extend .mainBtn;
                                display: inline-block;
                                position: absolute;
                                left: 37px;
                                bottom: 100px;
                                animation: stepO2-btn 1s 1.2s 1 normal;
                                animation-fill-mode: forwards;
                            }

                            @keyframes stepO2-finger {
                                0% {
                                    right: -60px;
                                    bottom: 60px;
                                }

                                100% {
                                    right: 15px;
                                    bottom: 10px;
                                }
                            }

                            img {
                                width: 100px;
                                position: absolute;
                                right: -60px;
                                bottom: 60px;
                                animation: stepO2-finger .8s .5s 1 normal;
                                animation-fill-mode: forwards;
                            }
                        }

                        .indexJoin-stepO3 {
                            div:nth-child(1) {
                                text-align: center;

                                p:nth-child(1) {
                                    padding: 70px 0 10px;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }

                            @keyframes stepO3-scan {
                                0% {
                                    width: 120px;
                                    height: 120px;
                                    margin: -10px 0 0 -10px;
                                    background-color: transparent;
                                }

                                33% {
                                    width: 120px;
                                    height: 120px;
                                    margin: -10px 0 0 -10px;
                                    background-color: rgba(233, 79, 79, .6);
                                }

                                66% {
                                    width: 130px;
                                    height: 130px;
                                    margin: -15px 0 0 -15px;
                                    background-color: rgba(250, 236, 34, 0.6);
                                }

                                100% {
                                    width: 120px;
                                    height: 120px;
                                    margin: -10px 0 0 -10px;
                                    background-color: rgba(77, 235, 156, .6);
                                }
                            }

                            .indexJoin-stepO3-img {
                                text-align: center;
                                margin: 30px auto;
                                position: relative;

                                div {
                                    width: 120px;
                                    height: 120px;
                                    background-color: transparent;
                                    display: inline-block;
                                    text-align: center;
                                    margin: -10px 0 0 -10px;
                                    position: absolute;
                                    animation: stepO3-scan .9s .5s 1 ease-in-out;
                                    animation-fill-mode: forwards;

                                    &:before {
                                        content: '';
                                        width: 5px;
                                        height: 5px;
                                        background-color: $black;
                                        box-shadow: 0 130px 0 $black;
                                        position: absolute;
                                        top: -10px;
                                        left: -10px;
                                    }

                                    &:after {
                                        content: '';
                                        width: 5px;
                                        height: 5px;
                                        background-color: $black;
                                        box-shadow: 0 130px 0 $black;
                                        position: absolute;
                                        top: -10px;
                                        right: -10px;
                                    }
                                }

                                img {
                                    display: inline-block;
                                    width: 100px;
                                    text-align: center;
                                }
                            }
                        }

                        .indexJoin-stepO4 {
                            overflow: hidden;

                            div {
                                text-align: center;
                                width: 145px;
                                margin: 0 0 0 26px;

                                p:nth-child(1) {
                                    padding-top: 70px;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }
                        }

                        .indexJoin-stepO5 {
                            overflow: hidden;

                            @keyframes stepO5-check {
                                0% {
                                    top: 155px;
                                }

                                100% {
                                    top: 30px;
                                }
                            }

                            @keyframes stepO5-span {
                                0% {
                                    top: 185px;
                                }

                                100% {
                                    top: 60px;
                                }
                            }

                            div {
                                height: 150px;

                                i.fa-check {
                                    font-size: 60px;
                                    color: $color_main1;
                                    text-shadow: 0 5px $color_main4;
                                    position: relative;
                                    top: 155px;
                                    left: 70px;
                                    animation: stepO5-check .8s .2s 1 ease-in;
                                    animation-fill-mode: forwards;
                                }

                                span {
                                    display: inline-block;
                                    position: relative;
                                    top: 185px;
                                    left: -15px;
                                    animation: stepO5-span .8s .2s 1 ease-in;
                                    animation-fill-mode: forwards;
                                }
                            }
                        }
                    }

                    .indexJoin-stepQrcode {
                        .indexJoin-stepQr1 {
                            div {
                                width: 120px;
                                padding: 10px 8px 0;
                                background: #bef18c;
                                border-radius: 10px;
                                font-size: 13px;
                                position: absolute;
                                top: 60px;
                                left: 30px;

                                &:before {
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 10px 8px 0;
                                    border-color: transparent #bef18c transparent transparent;
                                    position: absolute;
                                    top: 10px;
                                    left: -10px;
                                }
                            }

                            img {
                                width: 50px;
                                height: 50px;
                                margin: 10px auto;
                                background-color: $white;
                                box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
                            }
                        }

                        .indexJoin-stepQr2 {
                            div {
                                width: 95px;
                                padding: 10px 8px;
                                background: #bef18c;
                                border-radius: 10px;
                                font-size: 13px;
                                position: absolute;
                                bottom: 80px;
                                right: 30px;

                                &:before {
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 8px 10px 0 0;
                                    border-color: #bef18c transparent transparent transparent;
                                    position: absolute;
                                    bottom: 10px;
                                    right: -10px;
                                }
                            }
                        }

                        .indexJoin-stepQr3 {
                            position: relative;

                            .indexJoin-stepQr3-box {
                                width: 105px;
                                height: 176px;
                                padding: 15px 10px;
                                background-color: $color_main3;
                                border-radius: 10px;
                                position: absolute;
                                top: 65px;
                                left: 35px;

                                p:nth-child(1) {
                                    font-size: 14px;
                                    text-align: center;
                                }

                                p:nth-child(2) {
                                    padding: 20px 10px 10px;
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                                .indexJoin-stepQr3-input {
                                    width: 65px;
                                    border: 2px solid $color_main2;
                                    padding: 5px 8px;
                                    border-radius: 10px;
                                    margin: 0 10px;

                                    @keyframes typing {
                                        from {
                                            width: 0;
                                        }
                                    }

                                    @keyframes caret {
                                        50% {
                                            border-color: transparent;
                                        }
                                    }

                                    p {
                                        width: 34px;
                                        text-align: left;
                                        border-right: 1px solid;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        animation: typing 1.2s steps(4),
                                            caret .3s steps(1) infinite;
                                    }
                                }

                                .indexJoin-stepQr3-btn {
                                    @extend .mainBtn;
                                    text-align: center;
                                    width: 70px;
                                    margin: 10px auto 0;
                                    padding: 6px 10px;
                                }

                                @keyframes stepQr3 {
                                    0% {
                                        right: -50px;
                                        bottom: -30px;
                                    }

                                    100% {
                                        right: -30px;
                                        bottom: -70px;
                                    }
                                }

                                img {
                                    width: 100px;
                                    position: absolute;
                                    right: -50px;
                                    bottom: -30px;
                                    animation: stepQr3 .6s 1.4s alternate;
                                    animation-fill-mode: forwards;
                                }

                                .indexJoin-stepQr3-btn {
                                    @extend .indexJoin-stepO2-btn;
                                    animation: stepO2-btn .7s 2s 1 normal;
                                    animation-fill-mode: forwards;
                                }
                            }
                        }
                    }
                }

                #indexJoin-btn {
                    display: inline-block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 0;

                    div:nth-child(1) {
                        // margin: -40px 30px 0 0;
                    }

                    div {
                        --x: 84;
                        --y: 75;
                        --size: 128;
                        width: 30vw;
                        height: 30vw;
                        max-width: 200px;
                        max-height: 200px;
                        transition: .5s all ease;
                        background: var(--color);
                        border: 0 solid transparent;
                        box-sizing: border-box;
                        border-radius: 50%;
                        display: inline-block;
                        font-size: 0;
                        opacity: .8;
                        --dx: calc(var(--size) - var(--x));
                        --dy: calc(var(--size) - var(--y));
                        @extend .joinBtn;

                        &:hover {
                            @extend .joinBtn;
                        }
                    }

                    p {
                        font-size: 18px;
                        text-align: center;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .indexJoin {
        .container {
            #indexJoin-btn {
                div {
                    position: relative;
                    top: 20px;
                }
            }
        }
    }
}

//第四屏
.indexGroupon {
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    place-content: center;
    background-image: url(../images/backgroundegg.png);

    .container {
        .indexGroupon-title {
            padding: 20px 0 0;

            h1 {
                @extend .indexTitle;
            }

            h2 {
                @extend .indexsubTitle;
                display: none;
            }
        }

        .indexGroupon-box {
            display: flex;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: relative;

            .owl-nav {
                font-size: 70px;
                color: $color_main2;

                .owl-prev {
                    position: absolute;
                    top: 200px;
                    left: 20px;
                }

                .owl-next {
                    position: absolute;
                    top: 200px;
                    right: 20px;
                }
            }

            .owl-dot {
                display: none;
            }

            .indexGroupon-part {
                width: 260px;
                margin: 20px auto;
                background-color: #f7f4e7;
                border-radius: $grouponBr;
                box-shadow: 5px 3px 10px rgba(49, 49, 49, .3);
                position: relative;
                left: 5px;
                flex-wrap: nowrap;

                .indexGroupon-sumTitle {
                    margin: 0 0 0 -12px;
                    padding: 8px;
                    background-color: $color_main1;
                    position: relative;

                    h3 {
                        padding: 0 0 0 12px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: -7px;
                        left: 0;

                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 12px 7px 0;
                        border-color: transparent $color_main4 transparent transparent;
                    }

                    .indexGroupon-average {
                        width: 86px;
                        height: 86px;
                        background-image: url(../images/average.png);
                        background-size: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -25px;
                        right: -16px;

                        p:nth-child(1) {
                            padding: 16px 0 0;
                            font-size: 24px;
                            text-align: center;

                            &::after {
                                content: ' 元';
                                font-size: 14px;
                            }
                        }

                        p:nth-child(2) {
                            margin: -2px 0 0;
                            text-align: center;
                            font-size: 13px;
                        }
                    }
                }

                img {
                    width: 80%;
                    margin: 25px 50% 10px;
                    padding: 10px 0px;
                    transform: translateX(-50%);
                    text-align: center;
                    background-color: $color_main3;
                    border-radius: $grouponBr;
                }

                .indexGroupon-info {
                    width: 190px;
                    margin: 0 auto 15px;
                    text-align: center;
                    line-height: 1.6rem;
                }

                .indexGroupon-sum {
                    width: 190px;
                    margin: 0px auto;
                    line-height: 2rem;

                    .indexGroupon-countBar {
                        display: inline-block;
                        width: 100px;
                        height: 16px;
                        border-radius: $borderRadius;
                        background-color: $color_main2;
                        line-height: 16px;

                        p {
                            width: 87px;
                            height: 16px;
                            margin: 0 0 0 -1px;
                            text-align: center;
                            font-size: 10px;
                            background-color: $color_main1;
                            border-radius: $borderRadius;
                        }
                    }
                }

                .indexGroupon-deadline {
                    padding-bottom: 20px;
                }

                .indexGroupon-btn {
                    text-align: right;

                    a {
                        display: block;
                        padding: 8px 10px;
                        background-color: $color_main1;
                        border-radius: 20px 0 20px 0;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        color: $black;
                    }
                }
            }
        }
    }
}

//第五屏
.indexMeal {
    width: 100%;
    height: calc(100vh - 60px);

    .container {
        display: inline-block;

        .indexMeal-title {
            padding: 20px 0 0;

            h1 {
                @extend .indexTitle;
            }
        }

        .indexMeal-slider {
            width: 100%;
            height: 100vh;
            margin: auto;
            overflow: hidden;

            .indexMeal-box {
                position: relative;
                display: flex;
                justify-content: space-around;

                .top1 {}

                .indexMeal-part {
                    margin: 0 auto;
                    list-style: none;

                    .indexMeal-top {
                        margin: 0 auto;
                        text-align: center;
                        position: relative;
                        z-index: 2;

                        .indexMeal-topCk {
                            width: 250px;
                        }

                        .indexMeal-topW {
                            width: 200px;
                            margin: 0 auto;
                            position: absolute;
                            top: 120px;
                            left: calc(50% + 5px);
                            transform: translateX(-50%);
                        }

                        .indexMeal-meal {
                            width: 200px;
                            position: absolute;
                            top: 120px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    .indexMeal-topSum {
                        width: 280px;
                        margin: -32px auto 0;
                        padding: 50px 0;
                        background-image: url(../images/stage2.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        text-align: center;

                        h3 {
                            display: inline;
                            font-size: 26px;
                            line-height: 1rem;
                        }

                        h4 {
                            display: inline;
                            font-size: 24px;

                            &::after {
                                content: ' 元';
                                font-size: 16px;
                            }
                        }

                        p {
                            font-size: 18px;
                            line-height: 2.5rem;

                            // position: relative;
                            // top: 40px;
                            span {
                                img {
                                    width: 15px;
                                }
                            }
                        }

                        .indexMeal-btn {
                            a {
                                display: inline-block;
                                padding: 5px 10px;
                                background-color: $color_main1;
                                border-radius: $borderRadius;
                                color: $black;
                                font-size: 16px;
                                box-shadow: $boxshadow;
                            }

                            button {
                                @extend a;
                                border: 0;
                            }
                        }
                    }

                    .indexMeal-top1Sum {
                        .indexMeal-top1Right {
                            display: none;
                        }

                        .indexMeal-mes {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .indexMeal {
        height: calc(100vh - 150px);
    }
}

//第六屏
.indexLogin {
    width: 100%;
    height: calc(100vh - 60px);
    margin: auto;
    display: grid;

    background: {
        image: url(../images/background7.jpg);
    }

    .indexLogin-title {
        padding: 20px 0 0;

        h1 {
            @extend .indexTitle;
        }
    }

    .indexLogin-sum {
        display: flex;
        flex-direction: column;

        img {
            width: 250px;
            margin: 20px auto;
        }

        p {
            width: 330px;
            order: -1;
            padding: 30px 10px;
            margin: auto;
            text-align: center;
            border-radius: 50px;
            background-color: $color_main3;
            font-size: 18px;
            position: relative;

            &::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 40px 5px 0 15px;
                border-color: $color_main3 transparent transparent transparent;
                transform: rotate(30deg);
                position: absolute;
                right: 100px;
                bottom: -30px;
            }
        }
    }

    .indexLogin-btn {
        text-align: center;

        button {
            @extend .mainBtn;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1200px) {
    .indexLogin {
        height: calc(100vh - 150px);
    }
}